[2013-02-05 03:31] karrycrasto2008 opened #1 "Just couldn't set it up!"
Tried hard to set it up, Made some modification's but have still many issues.

[2013-02-07 15:44] #1 closed, assigned to nobody

[2014-01-24 22:23] engpedrorafael opened #3 "Missing step in pre-requisites"
Hello,

Please consider to add to the pre-requisites section the following, as it is not installed by default:
   sudo apt-get install python-pip
Best regards,

  Pedro

[2014-01-24 23:38] #3 closed, assigned to nobody

[2014-08-19 23:25] jsubirat opened #6 "Initialization is not correct"
Hi guys. First of all, congratulations for the library, it's very very useful. I tested it with my screen and I found that the initialization (init() method) is not correct, as the screen is initialized with no contrast by default. I think there is an error in the initialization code, although I didn't find it. If I set the contrast manually with lcd.set_contrast(0xBE), then the text of the exampl

[2015-07-17 14:51] Blobzglub commented on #6
Same issue 4 me.
Plus garbage when displaying grafx. Texts are fine BTW.

+++

[2015-09-04 07:22] tarun1793 opened #7 "Please specify the license"

[2015-09-04 07:51] #7 closed

[2015-12-28 17:05] DougieLawson opened #8 "Some demos don't work with Pillow V3"
[code]

[2015-12-28 17:40] DougieLawson opened #9 "sys_info demo doesn't work with psutil 3.3.0"
[code]
and
[code]
and
[code]

It needs to use
[code]

[code]

[code]

It also doesn't work if there's no wlan0 interface. The RPi I'm running on only has eth0. You can use

[code]
To determine whether an interface exists.

[2015-12-28 17:40] DougieLawson commented on #9
Putting that all together I came up with this diff file

[code]

[2015-12-28 17:50] rm-hull commented on #9
Oh nice one, I'll merge it in. This repo hasn't seen much action lately, so I guess the libs have moved on a bit

[2015-12-28 17:53] rm-hull commented on #8
Is Pillow v3 tied to python 3?

[2015-12-29 02:19] DougieLawson commented on #8
Nope. It's just what I got with a stock pip install.

[2015-12-29 02:22] DougieLawson commented on #9
Beware: that diff file is upside down, because I'm an idiot (unlikely) or the diff util isn't intuitive (more likely).

[2015-12-29 23:39] #9 closed

[2015-12-30 00:42] DougieLawson commented on #9
Thank you. I'll give that a go in the morning.

[2015-12-30 13:13] rm-hull commented on #8
I was previously using pillow v1.7.6
Seems like `tostring()` is not exactly the same as `tobytes()` for 1-bit images

Still investigating this one...

[2016-01-25 18:34] Pant opened #10 "Not working on Raspberry Pi 2 model B"
I am trying to figure out why it is not working on me. Installation was fine but when I run any of the examples nothing happens.
Any help is appreciated!

[2016-01-25 18:48] MaartenB3 commented on #10
Try changing the contrast, worked for me.

[2016-01-25 19:12] rm-hull commented on #10
Yes it is probably the same root cause as #6: some devices contrast are calibrated differently, so try setting the contrast when initialising.

The text examples work, but depending on the version of pillow installed the graphics demos may not. At the moment the ETA fix for that is unknown.

[2016-01-25 19:15] Pant commented on #10
Sorry for my noob question but how am I supposed to change the contrast?
Thank you for your answers!

[2016-01-25 19:29] rm-hull commented on #10
When you call init, call it with:

    lcd.init(contrast=67)

Permitted values 0..255.

You could also call the following anytime after initialising.

    lcd.set_contrast(183)

[2016-01-25 19:41] Pant commented on #10
I tryed the alphabet_text.py with the following ways:

    if __name__ == "__main__":
    lcd.init(contrast=67)

and

    if __name__ == "__main__":
    lcd.init()
    lcd.set_contrast(183)

But neither works. Am i missing something? I Have triple-checked the wiring and i have used 2 lcds and non of the works.

[2016-01-25 20:36] rm-hull commented on #10
Can you drag/drop a closeup photo of your lcd module to this issue? There are a few different designs where the pinouts are different.

Also, does the backlight switch on when you power up?

[2016-01-25 20:57] Pant commented on #10
![front](https://cloud.githubusercontent.com/assets/3122592/12564196/b692b504-c3b6-11e5-98f4-250f96ea81f6.jpg)
![rear](https://cloud.githubusercontent.com/assets/3122592/12564195/b68fd83e-c3b6-11e5-9f95-83e99942182d.jpg)
The led lights on when i run the alphabet_text.py. It does not lights off until next reboot!

[2016-01-26 21:43] Pant commented on #10
Is there anything else i could try?

[2016-01-26 22:17] rm-hull commented on #10
Ok, looking at your board, the pins are

* RST
* CE
* DC
* DIN
* CLK
* VCC
* LIGHT
* GND

This looks to be the same as mine :)

Can you annotate this list with the Raspberry Pi pins that you are connecting to?
Presumably there are no dry solder joints or shorts?

There is some debugging output we can set - I'll dig out how to do this and paste it here.

[2016-01-26 23:28] Pant commented on #10
Guys sorry for the trouble but i figured out that the problem was that I used an external cord with 40 pins. Thank you for your assistance!

[2016-01-26 23:28] #10 closed

[2016-01-27 08:58] rm-hull commented on #10
Ah, good - so you have it working properly now then?

[2016-02-04 20:17] Pant commented on #10
Yes everything works fine

[2016-02-13 14:31] pevandenburie opened #11 "Initialization on PCD8544 board for raspberry"
Hi there!
Thanks for your lib! Maybe you'll have some highlight on my initialization issue...

I bought the PCD8544 board which can be plug very easily on the Raspi, as you can see here:
https://github.com/pevandenburie/PCD8544/blob/master/PCD8544.pdf
The provided C demo (wiringPi based) works well.

However, I failed use your PCD8544 python wrapper...
To match the given layout:
CLK = GPIO17
D/C =

[2016-06-03 16:59] zaidpirwani opened #12 "no display, examples"
Hi,
I am trying different libraries, Adafruit one (https://learn.adafruit.com/nokia-5110-3310-lcd-python-library/overview) and yours.

when I run any example, the screen
is blank and afterwards the Adafruit examples also show blank screen until I restart the screen - maybe something to do with the contrast setting, but am stuck.?

Please HELP, thanks.

[2016-06-04 05:42] programmin1 commented on #12
Same here. Are you also using the plug-in 5110 like the one sold on Sainsmart? http://www.sainsmart.com/sainsmart-pcd8544-shield-ram-8448-mini-lcd-display-84-48-for-raspberry-pi-b-b.html

[2016-06-04 17:25] zaidpirwani commented on #12
nah, I made the circuit on my own. but it works with the Adafruit library so the wiring is okay and the wiring for this library is same - so i dont think this is a HW issue.

My Circuit so far:
![pi3-pimonboard](https://cloud.githubusercontent.com/assets/1651976/15801036/9a61c8c2-2aa2-11e6-9207-f2e32f9825a3.jpg)

[2016-06-08 20:31] rm-hull commented on #12
Hi, There are a number of things you should check:
* that the wiringPI library installed OK and all the other dependencies did too.
* double check the pinouts - I am aware that there are different layouts for the various PCD8544 modules out there.
* contrast is something someone else has suggested, but this can be changed easily in code, and the default is set quite high (i.e. quite dark)
* I have

[2016-06-08 20:42] rm-hull commented on #12
Ok, I have merged the latest wiringPi code (see https://github.com/rm-hull/wiringPi/commit/ce2c58ac6654b8045c657f4cdc2028bfee3bc77c) - can you try pulling the wiringPi again, rebuilding it, and trying again?

[2016-06-09 06:39] programmin1 commented on #12
Thanks, but I see the same behavior, no errors but nothing's happening running an example after install.

BTW Looks like that circuit is the one in the documentation README? What do the buttons do? Does this library require that wiring because mine is just a PCB with LCD, that plugs in to the pi pins.

[2016-06-09 06:54] zaidpirwani commented on #12
nah the buttons arent needed for running the examples, they are just there for my project - I needed buttons and other sensors and RTC etc.

See this: http://github.com/zaidpirwani/piMon Currently using the Adafruit LCD Library - will try the changes later today and report back.

[2016-10-11 16:40] thijstriemstra opened #13 "Support for RPi.GPIO"
Almost all of the libraries I use (inc some of yours) are compatible with RPi.GPIO. Is it possible to use that instead of wiringPi?

[2016-10-27 14:34] thijstriemstra opened #14 "use correct package name"
the top package is currently called 'src' but should be 'pcd8544'.

[2016-10-28 14:51] #14 closed

[2017-01-14 00:09] rm-hull commented on #13
Now extends `luma.core`, based on spidev & RPi.GPIO

Install with pip, 0.2.0 published

[2017-01-14 00:09] #13 closed

[2017-01-14 00:10] rm-hull commented on #8
Project has had a major overhaul, and works directly with the latest pillow version (v4.0.0)

[2017-01-14 00:10] #8 closed

[2017-01-14 23:29] thijstriemstra commented on #13
Awesome!!

[2017-01-16 21:40] rm-hull commented on #6
Much has changed recently: if still problems on latest version, please reopen

[2017-01-16 21:40] #6 closed

[2017-01-16 21:44] rm-hull commented on #11
I missed this issue completely - sorry for the non-reply.
Did you have any luck getting it working?
Please re-open if you still need assistance.

[2017-01-16 21:44] #11 closed

[2017-01-17 12:21] pevandenburie commented on #11
No problem :-)
No I failed, my guess is all LCD' PINs are not wired on the "Raspberry PCD8544 board".
I wrote instead a NodeRED - Javascript wrapper over the C driver...

Thanks!

[2017-01-23 02:37] thijstriemstra opened #19 "Support for 16x2 and 20x4 LCD displays"
HD44780U Data Sheet: http://www.adafruit.com/datasheets/HD44780.pdf

[2017-01-24 02:11] thijstriemstra opened #20 "Examples not working for pcd8544"
I've wired up a pcd8544 device and connected it to an RPi2 with latest kernel and Python 3.5.3. When running an example, e.g. `python examples/3d_box.py -i spi --display pcd8544` it enables the backlight but doesn't show the actual 3d_box demo, it shows a line at the bottom that randomly appears on the screen. Other demo's don't show anything at all, only the backlight is enabled. Do all demo's wo

[2017-01-24 02:12] thijstriemstra commented on #20
Same random flashing bar for the bounce demo.

[2017-01-24 07:50] rm-hull commented on #20
Is the wiring as per the diagram in the docs? If so, create a file called **pcd8544.conf** with the content as follows:

[code]

Then invoke an example as follows:

[code]

The default values for the DC and RST pins in code are different to that on the wiring diagram

[2017-01-24 07:51] rm-hull commented on #20
Note to self: Should really check-offs some different configuration files for various devices

[2017-01-27 20:01] thijstriemstra commented on #12
A lot of changes have been made to this library. Please test with the latest and create a new issue if there's still a problem.

[2017-01-27 20:01] #12 closed

[2017-01-27 21:41] thijstriemstra commented on #20
Unfortunately that didn't work either, the screen stays on with active backlight but nothing happens. Attached some pictures. You sure that config is correct? Maybe my screen is broken..

![img_20170127_222601_small](https://cloud.githubusercontent.com/assets/305679/22388622/a5e89a1e-e4e1-11e6-828b-c8d27438d5b0.jpg)

![img_20170127_222423_small](https://cloud.githubusercontent.com/assets/305679/22

[2017-01-27 22:24] rm-hull commented on #20
From just now:

[code]

produces:

![image](https://cloud.githubusercontent.com/assets/1915543/22389749/29671918-e4df-11e6-83c8-8b95f41f5615.png)

[2017-01-27 22:27] rm-hull commented on #20
Both the bounce and 3d box demos work as expected too

[2017-01-27 22:27] thijstriemstra commented on #20
Ok notice I have these pins soldered on the other side of the board. You're using the ones with an arrow, so let me start soldering ;)

[2017-01-27 22:29] rm-hull commented on #20
I hadnt noticed the arrow. at. all.

[2017-01-27 22:30] thijstriemstra commented on #20
I would expect the arrow side to be 'out' or something but I guess not.

[2017-01-27 22:48] rm-hull commented on #20
or maybe "this way up" 📦

[2017-01-27 23:04] thijstriemstra commented on #20
Unfortunately it still doesn't work, the line or bar that I saw before, is now visible on the bottom of the screen but other than that, empty screen. Can you post a picture of the back of your screen, I'll find a better camera and do the same for mine.

[2017-01-27 23:23] rm-hull commented on #20
Can't take a pic of the back unfortunately, the LCD is glued onto the stripboard with epoxy resin.

Did you try supplying 5V or 3V3 ? (try both)

Also try experimenting with setting different contrast ratios, some devices are calibrated differently

These are quite primitive controllers (compared to the SSD13xx at least), so there's not much to configure.

Alternatively, try a different lib (Adafr

[2017-01-27 23:31] thijstriemstra commented on #20
This is on an RPi 2. How would i change the contrast ratio (that's probably it..)?

[2017-01-27 23:35] rm-hull commented on #20
The `demo.py` should cycle through the whole contrast range. If you run that does the image fade in & out?

https://github.com/rm-hull/luma.examples/blob/master/examples/demo.py#L60-L71

[2017-01-27 23:37] thijstriemstra commented on #20
No I don't see anything at all (at least 99% of the screen). I'll get my hands on a better camera tomorrow and posts some pictures.

[2017-01-27 23:55] thijstriemstra commented on #20
well, the diagram seems to use the ones on the bottom (although there's not an arrow on the picture) judging from the rotation of the screen and the thicker side of the screen frame at the top of the picture.

This is why I initially soldered and wired on that side of the display.

https://luma-lcd.readthedocs.io/en/latest/_images/wiring-diagram.png

[2017-01-28 00:43] rm-hull commented on #20
I imagine the corresponding top and bottom pins are connected (e.g DIN to DIN, CLK to CLK, etc)

I mean "this way up" to just indicates the usual orientation, rather than anything to do with the pin connections

[2017-02-01 00:16] thijstriemstra commented on #19
@rm-hull sent one your way: http://www.ebay.com/itm/191623809073

[2017-02-01 09:02] DougieLawson commented on #19
I've got a load of code for HD44780 LCDs at  https://github.com/DougieLawson/RaspberryPi/tree/master/Unified_LCD

[2017-02-02 21:39] rm-hull commented on #19
@DougieLawson - the bare metal stuff looks interesting in that repo, does it boot up ok? A wee while ago I had the idea of writing a bare metal [forth machine](https://github.com/rm-hull/byok) for the RPi (actually got quite far making it work on i386, but I ran out of steam, so its mainly just sat on a shelf bit-rotting these days)

@thijstriemstra - So looking at that HD44780 datasheet and the p

[2017-02-02 21:52] thijstriemstra commented on #19
@rm-hull I'm currently using the https://github.com/dbrgn/RPLCD library for this, but I'd like to use a single luma.core API. There are probably some clues in that library.

[2017-02-02 22:11] DougieLawson commented on #19
@rm-hull used to boot OK on a RPi1B, so it would probably run on a Zero. I haven't looked at that code since Jul 2014. There's lots of modern bare metal stuff (probably better than my hack) on https://github.com/ultibohub/Core & https://github.com/rsta2/circle

[2017-02-17 12:04] rm-hull commented on #19
@thijstriemstra http://www.ebay.com/itm/191623809073 <- arrived

[2017-02-17 22:58] thijstriemstra commented on #19
Cool!

[2017-02-20 19:56] RomanGoncharov opened #21 "Support Banana PI"
Hello! Does your library supports Banana PI?

[2017-02-21 09:16] rm-hull commented on #21
If the banana pi supports SPI (what does `ls -l /dev/spi*` show?) and RPi.GPIO (or there is an equivalent) that works, then it should work.

[2017-02-26 01:39] rm-hull opened #22 "Add conditional pytest-runner"
as per: https://github.com/rm-hull/luma.core/commit/1db7b2afdfc4840b42afa0cbbdb130fab758b2fe

[2017-02-26 21:13] thijstriemstra opened #24 "Simplify travis installation"
Currently a lot of dependencies are installed (for pygame) that only is used/tested in luma.emulator afaik. Removing these dependencies from the travis build and letting it run in a container-based env should speed up the build.

[2017-02-26 21:47] #22 closed

[2017-02-26 21:48] rm-hull commented on #24
Good catch!

[2017-02-26 21:49] thijstriemstra commented on #24
@rm-hull is it only luma.emulator (and core?) that use these dependencies?

[2017-02-26 21:50] rm-hull commented on #24
I think luma.emulator is the _only_ thing that needs pygame (and its dependencies) now

[2017-02-26 21:54] thijstriemstra commented on #24
Alright. I'm also seeing 'luma.core' in the tox config for luma.oled, which also seems unnecessary. Testing.

[2017-02-26 22:08] #24 closed

[2017-03-02 15:10] thijstriemstra opened #28 "RuntimeError('This module can only be run on a Raspberry Pi!')"
A `RuntimeError('This module can only be run on a Raspberry Pi!')` is thrown when running the SPI examples on a non-raspberrypi. This should be a better `luma.core.error`.

E.g.:

[code]

[2017-03-02 15:28] rm-hull commented on #28
This is RPi.GPIO telling you off for not running on a BCM2835.

You can swap the gpio module out for a `noop()` but this wont get you very far, ... so it would be nice to see if there were a more generic GPIO library, but when I last looked this wasn't the case, as it obviously relies on the low level chipset... although we could look at something that uses /sys/bus - that might involve writing a

[2017-03-02 15:36] thijstriemstra commented on #28
simply having a generic luma.core error would be fine with me.

[2017-03-05 23:10] thijstriemstra opened #29 "outdated docstring"
https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/__init__.py does not mention the newest driver but I'd vote to leave out the various compatible drivers in that docstring because we'll have to update it every time because it's easy to forget.

[2017-03-08 01:02] thijstriemstra commented on #28
Should be fixed in next release.

[2017-03-08 23:28] thijstriemstra opened #31 "failing test on rpi"
[code]

[2017-03-08 23:58] #31 closed

[2017-03-09 00:03] #28 closed

[2017-03-09 01:00] #29 closed

[2017-03-21 02:52] thijstriemstra opened #35 "Support for HT1621 Module Character LCD"
it's called `5V LCD Module 6Bit 8-Segment 3-wires SPI HT1621 Module Character LCD for Arduino`.

On ebay: http://www.ebay.com/itm/351939450953

![s-l1600](https://cloud.githubusercontent.com/assets/305679/24130601/e56a6e0c-0de9-11e7-95c6-dd565aa6c79b.jpg)

[2017-03-21 02:53] thijstriemstra commented on #35
@rm-hull also sent one your way

[2017-03-21 08:11] rm-hull commented on #35
Awesome... 😆

[2017-03-22 13:31] somu1795 commented on #20
I think , it should be "--gpio-data-command" instead of "--bcm-data-command" , and "--gpio-reset" instead of "--bcm-reset" for the pins 23 and 24(which are gpio numbering).

[2017-03-22 15:04] thijstriemstra commented on #20
@somu1795 yep, you're right, it changed after this ticket was created.

[2017-03-29 21:22] thijstriemstra opened #39 "ST7735S SPI tft"
I have this [1.44" inch Serial 128x128 SPI Full Color TFT LCD Display](http://www.ebay.com/itm/172097169256) with following specs:

- ST7735S

- SPI interface

Pins:

- 3V3
- GND
- SDI
- SCL
- CS
- RST
- RS
- BLK

but the docs at https://luma-lcd.readthedocs.io/en/latest/install.html#st7735 mention 16 pins.

Did I get an incompatible device because I'm confused how to hook it up.

[2017-03-29 21:31] rm-hull commented on #39
Ha! I got one as well, but haven't had the chance to connect it up yet. It should be compatible.
The pinouts detailed in the docs are for the device I already had which has a built in microSD card reader.

Looking at the listing it should be straightforward-ish to map to the correct RPi pins.

There will need to be a small fix to the st7735 device to accept width/height params (I took the decision

[2017-03-29 21:46] thijstriemstra commented on #39
One of my ssd13-something screens started smoking the other day so I'll wait for a confirmation ;)

[2017-03-29 21:51] rm-hull commented on #39
yikes!

[2017-04-03 17:28] mnrozhkov opened #40 "1.44 TFT LCD ST7735S is not working as expected"
Hi! I have this [1.44" SPI 128x128  TFT LCD Display (RED PCB V1.1)](https://github.com/sumotoy/TFT_ILI9163C/wiki) with following specs:
conf/st7735.conf:
[code]

1) When running an example  `sudo python examples/3d_box.py -f conf/st7735.conf` , there is nothing on the screen! Even the backlight is not enabled.

2) After I connect `gpio-backlight` pin directly to 3.3V source - it works fine

Notes:

[2017-04-04 22:44] rm-hull commented on #40
See the comment in #39 - i took a decision (wrongly) to hardcode the resolution to 160x128 thinking that was the only resolution. I will push a change so it supports 128x128 but it won't be for another few days.

As to the issue with the backlight, i don't know. I have bought one of these devices but haven't had the chance to plug it in. I will update the ticket with my findings

[2017-04-07 19:34] #39 closed

[2017-04-07 19:52] rm-hull commented on #40
@mnrozhkov there is a new version that supports 128x128 variants of this device. If you upgrade with:

    $ sudo -H pip install --upgrade luma.core luma.lcd

The backlight was originally written for the PCD8544 which is enabled as active-low, whereas the ST7735 enables the backlight as active-high. It is now configurable, so supports either setting.

Lastly, if you then pull from master for the l

[2017-04-07 19:59] rm-hull commented on #39
@thijstriemstra

Pinouts:

3V3 --> 3V3
GND --> GND
SDI --> [BCM 10](https://pinout.xyz/pinout/pin19_gpio10)
SCL --> [BCM 11](https://pinout.xyz/pinout/pin23_gpio11)
CS --> [BCM 8](https://pinout.xyz/pinout/pin24_gpio8)
RST --> [BCM 24](https://pinout.xyz/pinout/pin18_gpio24)
RS -> [BCM 23](https://pinout.xyz/pinout/pin16_gpio23)
BLK --> [BCM 18](https://pinout.xyz/pinout/pin12_gpio18)

[2017-04-08 18:02] thijstriemstra commented on #39
awesome, thanks

[2017-04-08 18:09] rm-hull commented on #39
@thijstriemstra there should be a `config/st7735_128x128.conf` in the examples repo which is suitable.

[2017-04-11 01:39] thijstriemstra opened #42 "1.8 Inch SPI TFT LCD Module Display ST7735B"
- Ebay: http://www.ebay.com/itm/401010353521

![s-l1600](https://cloud.githubusercontent.com/assets/305679/24889084/5698720c-1e68-11e7-8e9f-e220cad901de.jpg)

It has the following specs but I'd like to know for sure how to hook it up:

1.8\" Serial Port SPI TFT LCD Display Module
Size: 1.8 inch
Dot Matrix: 128*160
Module Size: 44.96(length)X53.47mm(width)
Display Area Size: 35.04(length)*28.03mm(w

[2017-04-11 08:45] rm-hull commented on #42
@thijstriemstra

Pinouts:

RST --> [BCM 24](https://pinout.xyz/pinout/pin18_gpio24)
CS --> [BCM 8](https://pinout.xyz/pinout/pin24_gpio8)
D/C --> [BCM 23](https://pinout.xyz/pinout/pin16_gpio23)
DIN --> [BCM 10](https://pinout.xyz/pinout/pin19_gpio10)
CLK --> [BCM 11](https://pinout.xyz/pinout/pin23_gpio11)
VCC --> 3V3 or 5V0 (dependent on whether J1 is shorted or open)
BL --> [BCM 18](https://pin

[2017-04-11 18:53] rm-hull commented on #35
Arrived today, pulling together a driver now, rudimentaries are there:

![image](https://cloud.githubusercontent.com/assets/1915543/24925375/f52b619a-1eef-11e7-818e-0d9c337d2852.png)

It will most likely be driven like the max7219 by wrapping the `sevensegment class around the driver, eg.

[code]

_[the sevensegment class will need to be pulled into luma.core]_

[2017-04-11 19:04] thijstriemstra commented on #35
nice! expecting mine any day then.

[2017-04-11 20:12] thijstriemstra commented on #40
@mnrozhkov any news?

[2017-04-11 20:21] mnrozhkov commented on #40
@rm-hull thanks a lot! It works well. I've updated library and changed conf.

I use LCD to build eyes for my robot. I'll share with you how it will word as soon as I finish this. Your library is priceless help for our project!

Best wishes!

[2017-04-11 20:21] #40 closed

[2017-04-11 20:31] rm-hull commented on #35
WIP on branch https://github.com/rm-hull/luma.lcd/tree/ht1621

Its getting there, but the segments are mapped differently to the max7219 segments, so not sure if it is a good idea to push those down into core. At the moment I just created a hack test script that converts the segment bytes on the fly.

![image](https://cloud.githubusercontent.com/assets/1915543/24929351/8e34a1f0-1efd-11e7-8efb-5901

[2017-04-11 20:33] thijstriemstra commented on #35
looks very crisp. but the battery icon is kinda burnt in there?

[2017-04-11 20:40] rm-hull commented on #35
Like any LCD, unless you view it directly head on, you see the slight ghosting of the unlit segments.
The viewing angles aren't great.
Also, can't appear to switch the backlight on or off (it's on all the time)

[2017-04-12 00:12] thijstriemstra commented on #35
Ok but its first screen i see with pre-defined icons as such.

[2017-04-12 22:48] thijstriemstra commented on #42
Thanks, got it working!

[2017-04-12 22:48] #42 closed

[2017-04-13 17:20] rm-hull opened #44 "Move backlight implementation inside device - PCD8544 and ST7735"
No point in keeping the backlight external to the device, embed it in the device

[2017-04-16 02:25] thijstriemstra commented on #21
@RomanGoncharov any feedback?

[2017-04-22 18:41] #35 closed

[2017-04-23 23:16] rm-hull opened #46 "Add support for 128x64 ST7920 LCD"
* Ebay listing: http://www.ebay.co.uk/itm/302089090235
* Datasheet: [ST7920.pdf](https://github.com/rm-hull/luma.lcd/files/950110/ST7920.pdf)
* Ref: http://www.filipeflop.com/pd-6b7ea-display-lcd-grafico-128x64.html

![image](https://cloud.githubusercontent.com/assets/1915543/25318248/a5cb235a-2882-11e7-9c89-f758e1042b1b.png)

[2017-04-23 23:24] rm-hull opened #47 "Add support for 128x64 UC1701X LCD"
* Ebay listing: http://www.ebay.co.uk/itm/292061588410
* Datasheet: [UC1701x_v1.0.pdf](https://github.com/rm-hull/luma.lcd/files/950113/UC1701x_v1.0.pdf)

![image](https://cloud.githubusercontent.com/assets/1915543/25318337/2c84c300-2884-11e7-9f2e-995f8b41fffa.png)

[2017-05-08 02:46] thijstriemstra commented on #21
No feedback, closing.

[2017-05-08 02:46] #21 closed

[2017-05-08 14:51] combs commented on #19
just a thought, maybe it makes sense to draw a distinction between character-based LCDs (HT1621, HD44780, HPDL1414) and graphical LCDs in the codebase. They seem very different under the hood.

[2017-05-08 15:04] rm-hull commented on #19
Yes HD44780 is possibly a step too far in its default character mode, but think they do have some GDRAM that could be equated to a drawable canvas. The HT1621 is only usable by wrapping it with the sevensegment class.

[2017-05-08 15:06] combs commented on #19
oh huh! AFAIK hd44780 only has 8 customizable characters. Maybe with some trickery, like changing them partway through a line. Like in the "racing the beam" days. ha!

[2017-06-10 17:27] rm-hull commented on #47
## Implementation notes

Code [WIP] on branch: [feature/UC1701X](https://github.com/rm-hull/luma.lcd/tree/feature/UC1701X).

![img_20170610_180146](https://user-images.githubusercontent.com/1915543/27004816-3d375b46-4e08-11e7-8629-525d3b364e10.jpg)

| LCD Pin | LCD Name | RPi Pin | RPi Function | Remarks |
|----------|----------|---------|----------|-------|
| 1 | ROM_IN | n/c | n/a | Unused |
| 2

[2017-06-10 20:46] rm-hull commented on #47
render time = 40.39 ms, frame rate = 24.58 FPS

![image](https://user-images.githubusercontent.com/1915543/27006206-20dea440-4e26-11e7-8a17-ba7c63068c12.png)

[2017-06-11 17:18] #47 closed

[2017-06-12 17:10] rm-hull commented on #46
## Implementation notes

Code [WIP] on branch: [feature/st7920](https://github.com/rm-hull/luma.lcd/tree/feature/st7920).
Documentation preview: http://luma-lcd.readthedocs.io/en/feature-st7920/

![image](https://user-images.githubusercontent.com/1915543/27045857-399912ca-4f9a-11e7-8fb3-61d9cc115d87.png)

[2017-10-30 22:57] thijstriemstra opened #55 "API docs issue"
https://luma-lcd.readthedocs.io/en/latest/api-documentation.html is not rendering the classes correctly it seems.

[2017-10-30 22:58] thijstriemstra commented on #55
See https://readthedocs.org/projects/luma-lcd/builds/6196303/

[code]

[2017-11-10 14:16] thijstriemstra commented on #55
Fixed with https://github.com/rm-hull/luma.lcd/commit/aeaf627d9055f8f7303438a5034d8a6eb4157b08

[2017-11-10 14:16] #55 closed

[2017-12-14 21:43] rm-hull opened #61 "Add support for Sharp memory display"
Implementation Notes
----------------------------

* Available from: https://www.adafruit.com/product/1393
* Datasheet: https://www.sharpsma.com/documents/1468207/1485747/Memory+LCD+Theory%2C+Programming%2C+and+Interfaces
* App note: https://cdn.sharpsde.com/fileadmin/products/Displays/2016_SDE_App_Note_for_Memory_LCD_programming_V1.3.pdf
* Linked (original) issue: https://github.com/rm-hull/luma.

[2017-12-25 18:27] sgjava opened #62 "Pixel artifacts on ST7735"
I'm using this https://www.amazon.com/gp/product/B01J76ZGMY ST7735 on my ODROID C1+ which I have SSD1306 and SSD1331 working fine. When I use the examples or a sample program I wrote it leaves pixel artifacts on the bottom and right side of the display. See attached image:

![img_20171225_132103](https://user-images.githubusercontent.com/3740007/34342239-53b8414a-e977-11e7-8fb5-52e2aedc1491.jpg)

[2017-12-25 18:46] thijstriemstra commented on #62
Can you show us the example code to doublecheck for errors?

[2017-12-25 18:49] sgjava commented on #62
Sure for the clock.py I used:

`sudo python clock.py -d st7735 -i spi --spi-port 0 --spi-device 0 --gpio-data-command 24 --gpio-reset 25 --gpio-backlight 13 --width 160 --height 128 --backlight-active high`

My little sample:

[code]

Both result in the exact same artifacts.

[2017-12-25 18:51] thijstriemstra commented on #62
what if you use 161x31 or 159 x 29? just a thought

[2017-12-25 18:55] sgjava commented on #62
Anything except 160x128 results in **Unsupported display mode: 159 x 127**

[2017-12-25 19:15] sgjava commented on #62
OK, I tried another little sample piece of code and it looks like the canvas is shifted as the following displays a bounding box (with 2 rows of pixel clutter at the bottom):

[code]

[2017-12-25 19:37] rm-hull commented on #62
So the different manufacturers map the screen to different memory offsets. I had to add `h-offset` and `v-offset` for the ST7725 ... Perhaps we need to do the same for this device too.

See https://github.com/rm-hull/luma.core/blob/master/luma/core/cmdline.py#L238 and https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py#L146

[2017-12-25 20:39] rm-hull commented on #62
Sorry not paying attention properly, thought this was about ssd1351... Try fiddling with the --h-offset and --v-offset params either +/-1 or 2 until it displays properly

[2017-12-25 20:42] rm-hull commented on #62
The size should be 160x128. Use the examples demo.py script as a reference to get the offsets correct

[2017-12-25 21:00] sgjava commented on #62
I'll try that tomorrow and check back with the results.

[2017-12-25 21:14] thijstriemstra commented on #62
ah yeah... you can force it by removing this check though: https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py#L154

But it's just a wild guess, I don't expect it to improve.

[2017-12-26 03:23] sgjava commented on #62
--h-offset 1 --v-offset 2 worked perfect!

`sudo python clock.py -d st7735 -ipi --spi-port 0 --spi-device 0 --gpio-data-command 24 --gpio-reset 25 --gpio-backlight 13 --width 160 --height 128 --backlight-active high --h-offset 1 --v-offset 2

[2017-12-26 03:23] #62 closed

[2018-01-02 23:38] rm-hull commented on #61
References: http://www.makerdyne.com/blog/category/electronics/breakout-boards/

[2018-02-04 18:35] thijstriemstra commented on #46
@rm-hull can you open a PR for that branch so people could start testing/take a look?

[2018-03-30 13:06] svenyonson opened #66 "luma screen layout"
Hi Richard,
I have a question about best practices with the luma library, not sure where else to post it.  I need to layout the screen real estate into regions that I can update, e.g. A status bar with a Wifi icon, a title bar, and an area in the middle for dynamic text. I looked at the savepoint example and I was thinking of that approach for redrawing on the same canvas for each of the regions.

[2018-03-30 15:31] rm-hull commented on #66
You should have a look at the hotspot and viewport classes: https://luma-core.readthedocs.io/en/latest/api-documentation.html#luma.core.virtual.hotspot. There is a specific example - [carousel](https://github.com/rm-hull/luma.examples/blob/master/examples/carousel.py); that makes use of the hotspot functionality.

The canvas is a convenience wrapper around drawing text and simple line graphics (wi

[2018-03-30 17:24] thijstriemstra commented on #66
A really slick phone-ish interface example would be nice, eg.

![x761_17my_ngi_connectivity_tcm76-312913_desktop_1024x576](https://user-images.githubusercontent.com/305679/38146826-f64da206-344f-11e8-8fe2-21dae6232999.JPG)

![heat_gauge](https://user-images.githubusercontent.com/305679/38146831-f9cfbca2-344f-11e8-9e4a-02c2a5913bd5.jpg)

[2018-03-30 20:13] svenyonson commented on #66
Snapshots seem to be the way to go, I have several regions set up and working. One outstanding question though - from within the render function for a snapshot, how can I access paste_into() method of the snapshot so that I can paint an image in the snapshot?

[2018-03-30 21:14] svenyonson commented on #66
Update: got it working:
`draw.bitmap((0,0),wifiIcon)`
It looks like the `draw` parameter of the render function is of type `PIL.DrawImage.DrawImage`. This is the legacy API, yes?

[2018-03-30 22:47] rm-hull commented on #66
Yes, the render canvas is indeed a `PIL.DrawImage.DrawImage`. The "legacy API" is provided by https://luma-core.readthedocs.io/en/latest/api-documentation.html#module-luma.core.legacy - the docs should explain why they are named legacy.

Also: just be aware that Pillow's `draw.bitmap` does not do _exactly_ what you might think it does - it is a actually mask operation, but if it probably works for

[2018-03-31 00:37] svenyonson commented on #66
Ah, yes it does work for this use case - the icon is all one color with a transparent background, so the mask does pretty much the same thing. But I would very much like to know how to paint an actual bitmap - all colors preserved - from within the render method of a snapshot. Is this possible? Our app is not all that sexy but I will send a screen shot when it is fleshed out.

[2018-03-31 17:55] rm-hull commented on #66
In short, you can't: the render `canvas` method encapsulates and manages the image and drawing surface entirely. Either something like (untested):

[code]

or dont use the canvas at all, and initiate an unmanaged draw object:

[code]

[All the `canvas` context _really_ does is manage creating the draw object and deleting it afterwards]

[2018-04-11 15:48] svenyonson commented on #66
Thanks Richard, things are working nicely now. Two questions: 1) Is there a way to specify custom RGB colors when using draw(), text(), etc? All I can find are strings like "yellow", "white", etc. 2) Are there any settings I can try to minimize the horizontal bleed from white text into the darker background colors? (eg. contrast, brightness)

![2018-04-11 09 44 53](https://user-images.githubuserco

[2018-04-11 16:07] rm-hull commented on #66
it supports whatever color gamut that Pillow supports, for example, see http://pillow.readthedocs.io/en/5.1.x/reference/ImageColor.html?highlight=color#color-names and https://pillow.readthedocs.io/en/5.1.x/reference/ImageDraw.html#example-draw-partial-opacity-text

You can supply a hex number (in a string, so `"#ff0000"` is red), or if you supply a 3-tuple `(255, 0, 0)`, then it is a solid color

[2018-04-14 15:28] thijstriemstra commented on #19
@rm-hull so this is blocked by https://github.com/rm-hull/luma.core/issues/41?

[2018-04-15 09:47] rm-hull commented on #19
Yes, would need to implement that in core first I think

[2018-07-28 20:18] sgjava opened #67 "ILI9341 TFT support"
Do you anticipate supporting the ILI9341 TFT display? I'm looking for a bigger display for a weather station.

[2018-07-29 11:20] rm-hull commented on #67
Always open to supporting new devices, but I've have conversations with other people about supporting other higher-resolution displays (have a browse through some of the issues to see the discourse), and have said before that because we're using a fairly slow interpreted language, as the number of pixels increases exponentially, the longer it will take to render a frame.

There are some tricks I'v

[2018-07-29 12:43] sgjava commented on #67
Understood. I'm looking for a cross platform solution for a larger display (I really do not use Pis). What is the largest display you support? Monochrome is fine.

[2018-08-10 09:44] LocutusOfPenguin opened #70 "Examples not working for waveshare 1,44inch lcd hat (128x128, 65k)"
Hi,
running the examples produces strange output on the display. Strange = something like it seems to generate the picture all over again, but the pict are some sort of nonsense-pixels. Hard to explain.

I tried to use the ST7735 display driver  or the conf file for it ... no success.

Using the files from waveshare works, but i would like to use this luma :-)
Also other displays like SH1306 works

[2018-08-10 12:10] thijstriemstra commented on #70
Can you post picture and config file?

[2018-08-10 12:14] LocutusOfPenguin commented on #70
If i knew how to do it i would do (lateron), haha - i use Github for long, but never needed to add a pict ...Sorry.

The conf file, is what is inside the examples...not changed..But here y are:

--display=st7735
--interface=spi
--spi-bus-speed=16000000
--gpio-reset=24
--gpio-data-command=23
--gpio-backlight=18
--width=160
--height=128
--backlight-active=high

[2018-08-10 12:16] LocutusOfPenguin commented on #70
ups....i also use conf with the -width parameter = 128 (so both!) ...perhaps thats the problem?
Im not with this hardware right now, so i cant check (now)

[2018-08-10 14:18] LocutusOfPenguin commented on #70
sudo python3 ./colors.py  -d st7735 --height 128 -i spi
Display: st7735
Interface: spi
Dimensions: 128 x 128
----------------------------------------

Display is flashing white & black (each 100%)

if i use "bounce.py" its flashing alot quicker

If i use the "--config", it stays white right now (nothing happening).
Its abit different to last time, i tried.

[2018-08-28 22:10] rm-hull commented on #67
I haven’t looked at the data sheet for the ili9341 but if it is a color LCD, I would assume that the minimum colour mode would be 16 bits.

Have you got a link/url to the specific breakout board your looking at?

[2018-11-02 17:55] LouisPi opened #74 "Changing Backlight Control Pin"
I have some pin clashes in my project over GPIO 18 and would like to change the backlight control pin on the ST7735. It seems this pin is used for PWM so GPIO 12 (also PWM) should do the job. Firstly, am I correct and if I am could you please advise me how to change the code to use this pin instead.

Thanks,
Louis

Edit - I think I have answered my own question, changing the pin number on this (ht

[2018-11-04 22:52] rm-hull commented on #74
Well you've found where you can override it, so in your code just pass in that param.

Likewise, the examples can be run with:
[code]

[2018-11-04 22:52] #74 closed

[2018-11-08 18:07] LouisPi opened #75 "Unexpected Keyword Argument Error"
Here is my code:
[code]

and here is my error message:

[code]

Any idea what I am doing wrong? The unexpected keyword argument is different each time and I can run the examples fine.

[2018-11-09 17:20] thijstriemstra commented on #75
you're instantiating spi incorrectly, there's not a `width` param: https://github.com/rm-hull/luma.core/blob/master/luma/core/interface/serial.py#L250

See https://luma-lcd.readthedocs.io/en/latest/python-usage.html

[2018-11-09 17:20] #75 closed

[2018-11-09 19:27] LouisPi opened #76 "Small error"
https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py#L215. Shouldn't it read v_offset not h_offset.

[2018-11-14 07:52] LouisPi commented on #76
Is this an error?

[2018-11-15 07:21] #76 closed

[2018-12-04 15:01] duchenpaul commented on #11
Hi @rm-hull
I am having exactly the same issue as pevandenburie, could you please advise me how to configure the pcd8544, while those pins apart from RESET and D/C are totally different as the one specify in the doc, how can I redefine pins like SCLK, SDA, and CE?
Screen shield is the one he used: [PCD8544.pdf](https://github.com/pevandenburie/node-pcd8544-rpi/blob/master/PCD8544.pdf)

here is my

[2018-12-05 14:42] duchenpaul opened #78 "Please advise a way to specify pin apart from D/C and RST"
Maybe duplicate with #11, but I think I need a clear answer.
I got the same LCD as what described in #11 , so I have to reassign the PIN in the code.
I went over the doc, only found how to change D/C and RST, but no description of the rest ones (SCLK, SDA, and CE)
How do I change them?
Thank you

[Link to LCD I got](https://github.com/pevandenburie/node-pcd8544-rpi/raw/master/PCD8544.pdf)
[More de

[2018-12-05 22:34] rm-hull commented on #78
By default PCD8544 driver is SPI compatible, hence the reason it is fixed to use the RPIs SPI interface pins.. this allows us to use the SPI hardware and the Linux kernel to drive the device efficiently. If you have bought a board which interfaces those lines to non-SPI griot header pins, then that is a poor decision by the board designer!

The only choice you have really is therefore to do what i

[2018-12-05 22:38] rm-hull commented on #78
To be honest I would just source a different LCD board from ebay or aliexpress ... one where you wire it yourself

[2018-12-06 01:45] duchenpaul commented on #78
Thank you for your quick reply! 😄
I tried bitbang in your core before, seems not working.
I will take another look when I got time

![cpuinfo screen raspberrypi pin mapping](https://user-images.githubusercontent.com/8120099/49555503-11186c00-f93b-11e8-8334-90b09bbba32a.png)

[2018-12-06 14:45] duchenpaul commented on #78
Hi @rm-hull
Hope it is something wrong on my side, I used below code, but no luck, nothing shows on my screen

please checkout [Front pic](https://github.com/duchenpaul/sys_status/raw/master/src/demo.png) to see what front looks like.

[code]

Now that I won't use stock hardware SPI, I think below operation is meaningless, but I want to show you still
[code]

[2019-01-27 17:41] gigabauertech opened #82 "LCD ST7735 128X128 - WHITE SCREEN"
Hello guys how are you all doing? Its my first time ever using GitHub so I'm sorry if I'm not using the right place to find an answer to my problem.

#### Type of Raspberry Pi and LCD specifications
Raspberry Pi 3B+
ST7735 LCD SPI 1.44 128x128

Place where I bought the LCD:
[https://www.aliexpress.com/item/GREATZT-1PCS-5V-3-3V-1-44-inch-TFT-LCD-Display-Module-128-128-Color-Sreen/32948378014.html?s

[2019-02-16 02:05] wifi4u commented on #70
@LocutusOfPeng, I have a 1.8 inch Waveshare ST7735, which has 160x128 pixels. You might try this config, which works for me (well, most of the time):

[code]

[2019-02-16 02:09] wifi4u commented on #70
@LocutusOfPeng, I have a 1.8 inch Waveshare ST7735, which has 160x128 pixels. You might try this config, which works for me (well, most of the time):

    --interface=spi
    --spi-bus-speed=16000000
    --gpio-reset=24
    --gpio-data-command=23
    --gpio-backlight=18
    --width=160
    --height=128
    --backlight-active=high

However, the display's backlight always stays on if GPIO18 is not a

[2019-02-16 02:11] wifi4u commented on #70
@LocutusOfPeng, I have a 1.8 inch Waveshare ST7735, which has 160x128 pixels. If your display is the 1.8 inch, too, you might try this config, which works for me (well, most of the time, sometimes the demo doesn't display anything, restarting the demo then helps):

--interface=spi
--spi-bus-speed=16000000
--gpio-reset=24
--gpio-data-command=23
--gpio-backlight=18
--width=160
--height=128
--backlig

[2019-02-16 02:13] wifi4u commented on #70
@LocutusOfPeng, I have a 1.8 inch Waveshare ST7735, which has 160x128 pixels. If your display is the 1.8 inch too, you might try this config, which works for me (well, most of the time, sometimes the demo doesn't display anything, restarting the demo then helps):

    --interface=spi
    --spi-bus-speed=16000000
    --gpio-reset=24
    --gpio-data-command=23
    --gpio-backlight=18
    --width=160

[2019-02-19 08:46] LocutusOfPenguin commented on #82
Hi,
perhaps similar problem as my #70 ?
Your status script url doesnt work.

[2019-02-19 08:51] LocutusOfPenguin commented on #70
@wifi4u thanks!
My name missing a "uin" in yr text...its useless from github to shorten 3 chars with 3 other chars, ha.

No, i use a 128x128 ...but i give it a try .... just now im very busy (and this display is no longer my main focus, right now - needed to wait too long).

[2019-03-26 19:45] Rippert commented on #70
Just got my Wavshare 1.44 inch hat yesterday, and had the same problem. Went to the Waveshare wiki and looked up the schematic. It's on there(www.waveshare.com/wiki/1.44inch_LCD_HAT), and I was able to modify the st7725_128x128.conf file with the correct pinout:

[code]
All the luma.examples work fine with it using this configuration file. Maybe it could be added to the other stock configurations

[2019-03-27 00:13] Rippert opened #83 "persist=True not honored in st7735 device"
#### Type of Raspberry Pi
RPi 3 B+ running Arch Linux Arm

#### Linux Kernel version
Linux alarmpi 4.19.25-2-ARCH #1 SMP PREEMPT Tue Feb 26 01:20:52 UTC 2019 armv7l GNU/Linux

#### Expected behavior
I have written a test program to learn how to use your libraries, test.py:
[code]

I expected that the graphics will remain on screen and backlight will turn off and stay off after python script conclu

[2019-03-27 21:07] Rippert commented on #82
If it works intermittently, then I would suspect a hardware problem. You should check your jumper wires carefully, with a multimeter if you have one. Other than that, I would suspect that the LCD breakout board has some kind of problem. Look on the back for bad solder joints on the discrete elements and check the ribbon cable coming out of the side of the display for damage (may need a magnifying

[2019-03-29 01:06] Rippert commented on #83
I really wanted to leave the backlight off on my display when not using it, and possibly someone else reading this does also, so here's a workaround using the wiringpi command `gpio`. Since the gpio cleanup in the luma.lcd devices only cleans up those pins that were accessed, using a system call with `gpio` doesn't get registered with the luma routines and stays how it is setup after the script en

[2019-03-30 11:36] rm-hull commented on #83
@Rippert - what is the output of: `pip list | grep luma` ?

One thing that has never been clear to me is why there is a desire to not get the controlling program to manage its clean-up on exit. By not cleaning-up properly, this leaves the display in an inconsistent state for the next invocation of any program that may want to use the device; admittedly, the luma libraries will always try and reset

[2019-03-30 22:35] Rippert commented on #83
[code]
In terms of why I want to use the `persist=True` option: For this specific case, after the cleanup the screen is left with the backlight on and blank. That's a useless and wasteful state. I either want the screen to be off, including the backlight, or to be on with something useful displayed on it. That is really the screen manufacturers fault, since the default really shouldn't be that the

[2019-03-30 22:37] thijstriemstra commented on #83
@Rippert what about `pip list --outdated`?

[2019-03-30 22:39] Rippert commented on #83
[code]

[2019-03-30 23:02] Rippert commented on #83
I went ahead and updated everything in the list. It didn't make a difference, which I thought would be the case looking at the commits between 1.1.0 and 1.1.1.

Thanks for pointing out the pip command. I'm just getting started in python, so it's good to know.

[2019-04-16 15:11] gigabauertech commented on #82
@LocutusOfPenguin

Sorry for the long reply, and my issue it's just a bit similar. The white screen shows in random times. It is always white never black.

@Rirppert

Thanks for the advice! I will try it today and update you guys, and also update the scripts link.

[2019-04-24 17:12] pasquyonline opened #84 "aux.py can't write on MS Windows"
Hi, guys,
first, this library is wonderfull, great job! second, I need to clone the project on MS Windows machine, but on this operating system (any version!!!) a file can't be named "**aux.xx**" (_xx_ stand for anything you want) so the file **aux.py** can't be created.

So, my request is: it is possible to rename this file to **_aux.py** for example?

Thanks in advice!
Bye

[2019-04-24 18:41] thijstriemstra commented on #84
we're talking about https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/aux.py right? Are you serious, this would blow my mind..

[2019-04-24 20:06] pasquyonline commented on #84
Believe me, I'm very serious! I didn't even believe it, then I did tests on Windows 10 and Windows 7: same error message.

This is a link that describe "the thing"!!
https://www.reddit.com/r/linuxmasterrace/comments/9ukft0/windows_10_still_cant_create_a_file_called_auxtxt/?depth=2

[2019-04-24 20:11] pasquyonline commented on #84
I tried also on a Windows Xp on a virtual machine and also in that operating system there is that limitation!

[2019-05-26 10:10] rm-hull commented on #84
Related issue: #44

[2019-05-26 12:10] thijstriemstra commented on #84
@rm-hull what are your thoughts on renaming it?

[2019-05-26 14:14] rm-hull commented on #84
Wondered about creating a `backlit_device` class with this functionality, and then those devices that have a backlight would inherit from that instead of `device`, and the we could just remove the aux.py file completely.

[2019-05-26 14:22] thijstriemstra commented on #84
sounds good. removing a module is backwards-incompatible though (so bump version to nxt level?)

[2019-05-26 14:31] rm-hull commented on #84
Agreed - it would have to be v2.0.0

[2019-06-02 21:20] #84 closed

[2019-06-02 21:22] #44 closed

[2019-06-09 00:17] rm-hull commented on #67
It suddenly struck me that we can implement a luma `/dev/fb` bridge device-type. This would allow us to capitalize on pre-existing kernel display drivers, but allow programs that have already been written against luma components to work against a standard linux framebuffer. Using `/dev/fb` means driving larger displays is handled by C code in the kernel (so should be quick), so this will open up b

[2019-06-09 00:23] thijstriemstra commented on #67
Documentation about linux framebuffers: https://www.kernel.org/doc/Documentation/fb/framebuffer.txt

I would say, put it in luma.core, but once there's a pr, it'll become more clear where it belongs. Cool idea!

[2019-06-23 12:13] rollalt opened #88 "Inverted colours on ST7735"
#### Type of Raspberry Pi

Raspberry pi 2B

#### Linux Kernel version
Linux raspberrypi 4.19.42-v7+ #1219 SMP

#### Expected behaviour

To display example perfloop.py.

#### Actual behaviour

ST7735 screen display example perfloop.py in inverted colours
Background is white.
Red is Yellow
Green is Purple
Blue is Green

[2019-06-23 15:36] rollalt commented on #88
I've managed to resolve the issue by changing const(0x21) on inversion.

[2019-06-23 15:36] #88 closed

[2019-06-23 23:07] rollalt opened #89 "ST7735 FPS"
Raspberry pi 2B
Linux raspberrypi 4.19.42-v7+ #1219 SMP

Is there an option to modify the frame rate?

[2019-06-24 09:53] thijstriemstra commented on #88
@rm-hull any idea why this had to be changed?

[2019-06-24 15:55] rm-hull commented on #89
The only things that you can realistically do are:
* Try increasing the SPI bus speed parameter - some devices/systems and displays can tolerate 32MHz
* Get a faster RPi (I hear the 4B is launched today)
* I cant remember off the top of my head whether we implemented the diff-to-previous framebuffer for the ST7735, but if we did, it will only draw the region that changed since the last frame draw

[2019-06-24 18:29] rollalt commented on #89
Thank you.

[2019-06-30 01:29] rollalt commented on #89
@rm-hull can you explain please how to use diff-to-previous framebuffer for the ST7735, or how I can check if it is implemented?
Thanks.

[2019-07-07 17:01] mlatorre31 commented on #46
Hi,

I have a ST7920 LCD. If you need any testing, let me know as there is no python library with i2c for this device

[2019-07-25 17:58] LocutusOfPenguin commented on #70
yes, it works now very well. THANKS!

Sorry, for long delay.

[2019-07-25 17:58] #70 closed

[2019-07-28 17:20] satiromarra opened #90 "Add support for I2C PCF8574"
![image](https://user-images.githubusercontent.com/1863162/62010553-996aac00-b16c-11e9-8ee2-b2fcdef934f3.png)

https://www.nxp.com/docs/en/data-sheet/PCF8574_PCF8574A.pdf

[2019-09-17 14:25] martin-Stv commented on #67
HI

I am a complete novice with this stuff and have produced a set of gauges for my car using your LUMA and I wanted some bigger screens, trying to port from ST7735 to ili9341 is almost impossible,

support for these screens would be very useful, and as i dont do fast moving graphics slow is fine.
any advice or a  date when drivers might be available in the Luma.LCD package,

Thanks for taking the

[2019-09-29 10:54] LouisPi opened #93 "ST7735 White Screen"
Any ideas what could be causing this? It was working when I last used it a few months ago.

[2019-09-29 17:01] LouisPi commented on #82
Any luck with fixing this?

[2019-09-29 19:44] X-Stas-EEE commented on #46
Is there any news about the st7920 support?

[2019-09-30 12:07] thijstriemstra commented on #93
can you include more info: os, python, example script etc?

[2019-10-01 17:14] LouisPi commented on #93
I'm using Raspian (Stretch I think). I've tried the Luma example scripts using the config for my LCD, as well as the script for my project. I've checked pins and wires (replaced all wires) and it turned out there was a problem with my audio board and the LCD sharing the pin the LCD uses for the backlight but after fixing this, the screen was still white. The audio board wasn't actually in use, and

[2019-11-25 09:17] rm-hull commented on #67
v2.2.0 of luma.lcd (https://pypi.org/project/luma.lcd/2.2.0/) now supports ILI9341.

[2019-11-25 09:17] #67 closed

[2019-12-14 06:40] kevinastone opened #95 "PWM Backlight Control"
Would you accept a PR to implement PWM backlight LED control?  I've hacked it together locally in my project leveraging `luma.lcd`.

One important consideration is that `RPi.GPIO` doesn't support hardware PWM, so I had to substitute `pigpio` as the GPIO library (I'm also using `gpiozero.PWMLED` for convenience).

[2019-12-14 07:42] rm-hull commented on #95
Sure, happy to accept a PR

[2019-12-26 08:30] markbirss opened #97 "How to add more types of screens ?"
How do i add for example the ST7920 oled screen ?

[2019-12-26 10:47] markbirss opened #96 "Unable to run examples on ILI9341"
Howto run the exampe on the newly added ILI9341?

This does not work ?
python clock.py --display ili9341 --interface spi --width 320 --height 240

[2019-12-26 18:02] rm-hull commented on #97
Moving to luma.lcd ....

[2019-12-26 18:39] rm-hull commented on #96
Do you get an error? Does anything happen on the screen? It's hard to know what to advise when you ask vague questions

[2019-12-26 18:43] markbirss commented on #97
Ok, understood, thank you for your feedback

I will close the issue but leave these notes below

I have found much of that information but,  I dont have the depth of understanding at the moment to put it into a implementation.

Will leave it here if anyone else interested.

Datasheet
https://www.lcd-module.de/eng/pdf/zubehoer/st7920_chinese.pdf

Enable SPI mode is simply done by connecting PSB to

[2019-12-26 18:43] #97 closed

[2019-12-26 19:14] rm-hull commented on #97
Related issue: #46

[2019-12-26 19:22] rm-hull commented on #97
I think the PR for this stalled because driving it via parallel bit-banging was going to be awkward.
If this is true:

then it might be straightforward to getting it working

[2019-12-26 20:41] markbirss commented on #96
At first my luma.examples was old and also had issue with my wiring

I updated my examples and re-checked my wiring, and switched to python3

I am able to run the examples now thank you.

[2019-12-26 20:41] #96 closed

[2020-01-19 14:45] raf59 opened #101 "Define the screen rotation inside of the program"
I use a st7735 device on a RPI3b.
It's working if I use the get_device() function from demo_opts.py as in luma.examples.
I use the following command :
[code]

I'd like to define the rotation of the screen in my program.
I tried these following lines instead of get_device() but it doesn't work. Nothing is happening.
[code]
What am I doing wrong?

Thanks in advance

[2020-01-19 15:10] thijstriemstra commented on #101
@raf59 you probably need to specify amount of degrees rotation instead.

[2020-01-19 15:21] raf59 commented on #101
Thanks for your answer @thijstriemstra !
I'm not sure to understand.
According to the doc, "rotate" option can accept only 0, 1, 2 or 3.
How would you specify the amount of degrees rotation ?
For the moment, even without defining a rotation, the screen doesn't turn on if I don't get the "device" object using get_device().

[2020-01-19 18:18] rm-hull commented on #101
Try removing `cs_high=True,` when initializing SPI

[2020-01-19 20:01] thijstriemstra commented on #95
released as 2.3.0 (https://pypi.org/project/luma.lcd/2.3.0/)

[2020-01-19 20:01] #95 closed

[2020-01-19 20:02] thijstriemstra commented on #82
another report about a white screen: #93

[2020-01-19 20:40] raf59 commented on #101
Oh thank you very much @rm-hull .
I don't know why I added this option. Probably a bad copy-paste.
Now the screen is working but the backlight keeps off.
I think it's due to the backlight-active option. I don't know how to pass this option to the device when initializing it.
The only way I found to turn the backlight on is to manually set the GPIO 18 high.
[code]
Is there a cleaner way to do it ?

[2020-01-19 21:23] rm-hull commented on #101
https://luma-lcd.readthedocs.io/en/latest/python-usage.html#backlight-control

[2020-01-19 21:29] rm-hull commented on #101
oh, you can pass `active_low=True|False` when initializing the device to indicate whether the backlight is active low or high

[2020-01-21 18:05] raf59 commented on #101
Perfect !!!
Now, everything is working fine !
Thank you for your answer and also for this awesome library. Good job!

[2020-01-21 18:05] #101 closed

[2020-02-08 14:26] HWHardsoft opened #102 "XPT2046 support"
Hello,

I've found your Luma.LCD project in PyPi. I've tested your drivers with an ili9341 based touchscreen and it works great. Unfortunately I've not found until now a working solution for the resistive touch of the display. I've tried several python drivers including RPi-XPT2046-Touchscreen by Matthew London https://github.com/MatthewLowden/RPi-XPT2046-Touchscreen-Python . It works great stand

[2020-02-20 16:08] XipoZhang opened #103 "ST7567 1.8 LCD"
Dear All:

the system cannot find the  following lib. Could someone give me a hint?
  import pytest
  | from baseline_data import get_reference_data, primitives
  | from helpers import Mock, serial, call, setup_function, assert_invalid_dimensions  # noqa: F401

The ST7567  1.8 LCD is not lighted up even I wired it as exactly what the document said.
How to turn on the backlight?
It mentioned that G

[2020-02-20 16:11] thijstriemstra commented on #103
can you share the code you're using?

[2020-02-20 20:57] XipoZhang commented on #103
Thanks for your feedback. All the codes are from the the examples here. There is nothing new.
I bought 3 OPEN-SMART 1.8INCH LCD ST7567. None of them has any response.
So my first question now is how to light up to check whether it works?

The GPIO setup
Board - GPIO Pin# (GPIO name)

GND	- 	09
3V3	-	01
SDI	-	19 (GPIO10 SPI0-MOSI)
SCK	-	23(GPIO11 SP10_CLK)
DC	-	16(GPIO23)
CS	-	24(GPIO08, SPI0-CE0_N

[2020-02-29 15:38] hyansuper opened #104 "Support for ST7789 driver"
Hi, I have a Raspberrypi zero w and 1.14 inch st7789 LCD, I wander do you have plan to support st7789 driver?

[2020-02-29 17:36] rm-hull commented on #104
https://github.com/rm-hull/luma.lcd/pull/80#issuecomment-554527049 .. I'm just finishing off some house renovations, so I will endeavour to complete all the unfinished PRs in the coming weeks

[2020-03-04 10:08] jakiee3y commented on #82
some delay should be add to hw-reset and sw-reset.
in luma/core/interface/serial.py
add 0.1s delay before and after "self._gpio.output(self._RST, self._gpio.HIGH) "
in luma/lcd/device.py
add 0.1s delay before and after "self.command(0x11)                      # sleep out & booster on"
maybe the delay can be lower, but the four 0.1s work for me.

[2020-03-04 11:31] rm-hull commented on #82
@jakiee3y thanks for the heads up ... I will add that & hopefully this will resolve these issues

[2020-03-30 13:08] jakiee3y commented on #82
If somebody hits here, you can try to re_init st7735 by following function without changing lib code.

import time
def init_st7735(device):
    # self._serial_interface.
    #    self._gpio.output(self._RST, self._gpio.LOW)  # Reset device
    #    self._gpio.output(self._RST, self._gpio.HIGH)  # Keep RESET pulled high
    # RGB or BGR order
    bgr = False
    order = 0x08 if bgr else 0x00
    sp

[2020-03-30 13:12] thijstriemstra commented on #93
Looks like a duplicate of #82. Can you give the suggested changes there a try @LouisPi

Marking as duplicate.

[2020-03-30 13:12] #93 closed

[2020-03-30 13:13] thijstriemstra commented on #82
@jakiee3y can you make a pull request with your fix(es)?

[2020-03-30 13:18] jakiee3y commented on #82
The delay adding to luma/core/interface/serial.py will effect all devices using spi.

[2020-03-30 13:25] thijstriemstra commented on #82
ah, nevermind, that'll need a different solution then.

[2020-03-30 15:15] LouisPi commented on #82
Thanks for the heads up about this fix. I haven't looked at my project using that used Luma LCD but now's the perfect time to take a look again. Where do I put this code?

[2020-03-30 18:05] thijstriemstra commented on #82
@LouisPi can you test pull request #105?

[2020-03-31 13:38] jakiee3y commented on #82
pull request #175 to luma.core makes the addtional flags (timed_reset, inverse) available to cmdline .

[2020-03-31 13:42] jakiee3y commented on #82
init_st7735 should be called after get_device() in luma.examples.
like this: (3d_box.py)
`from init_st7735 import init_st7735
if __name__ == "__main__":
    try:
        device = get_device()
        init_st7735(device)
        main()
    except KeyboardInterrupt:
        pass
`

[2020-05-02 19:08] ianlikestrains opened #106 "How do I display desktop with ST7735?"
I am totally new to Raspberry Pi, and I got the display working (I am able to run the examples) I am on Raspberry Pi 4, and my refresh rate is decent. I was wondering how to use the lcd to display the desktop/ if it could be done. Thanks!

[2020-05-16 15:22] starmood opened #107 "ili9341 issues"
#### Type of Raspberry Pi
Pi3B with Buster
python 3.7
luma.lcd 2.3.0
#### Linux Kernel version
4.19.97-v7+

#### Actual behaviour
Found some strange behaviour.
For example.

1) The position of the graphic is not stable.
For testing, if I create a rectangle with the LCD width and height (320*240), sometimes it just likes being added some offset, I may not be ablt to see the left edge of the rectang

[2020-05-16 15:24] thijstriemstra commented on #107
can you attach a picture or make video of the behaviour?

[2020-05-16 15:36] starmood commented on #107
![9341_1](https://user-images.githubusercontent.com/27663100/82123798-de300400-97cd-11ea-8242-e937261b90dd.jpg)
![9341_2](https://user-images.githubusercontent.com/27663100/82123801-e1c38b00-97cd-11ea-8496-c94cd06500c1.jpg)
![9341_3](https://user-images.githubusercontent.com/27663100/82123805-e38d4e80-97cd-11ea-8b07-19d9df4b6178.jpg)

I use Pillow for testing:

First picture is nomal one.
Second o

[2020-06-04 17:45] CRImier opened #108 "Interested in a Sharp memory display driver?"
I'm looking for somewhere to share my Python code for driving Sharp Memory LCD - do you think it's a good idea to add support to luma.lcd and send you a pull request?

[2020-06-11 12:07] thijstriemstra commented on #108
If you are willing to respond to bug reports, maintain it where possible, sounds good to me.

cc @rm-hull

[2020-06-11 12:42] CRImier commented on #108
Sounds good to me. It works on MicroPython devices when based on `framebuf.FrameBuffer`, but it could also very well run on a Raspberry Pi - yet there's no `framebuf.Framebuffer` analog there, so, `luma.lcd` sounds like a good alternative.

[2020-06-12 13:09] #108 closed

[2020-07-28 07:31] pkrana0005 opened #111 "How to print sensor data to nokia 5110 lcd?"
I want to print sensor data to the nokia 5110 lcd using RPi zero w. I have seen the examples but unable to fiqure out to print data assigned to variables. I don't know the syntax. I saw syntax to print a string.

I am adding here my test code

import time
from luma.core.interface.serial import spi
from luma.core.render import canvas
from luma.lcd.device import pcd8544
from RPi import GPIO

serial

[2020-07-28 08:22] pkrana0005 commented on #111
I found the answer

for j in range(0,100,10):
    # I want to print "j" value to the nokia 5110 lcd,
    #i dont know the syntax to print it
    with canvas(device) as draw:
            draw.text((5,5), 'j={}' .format(j), fill=255)   # by writing this line i can print j to lcd
    print("j= ",j)
    time.sleep(2)

[2020-07-28 08:22] #111 closed

[2020-07-28 12:24] rm-hull commented on #111
Glad you managed to solve it !

[2020-08-07 16:03] dhrone commented on #19
I'm a bit late reaching out but wanted to share that I'm close to finishing the implementation of a solution to this as well as [rm-hull/luma.core#41](https://github.com/rm-hull/luma.core/issues/41).  As soon as I finish cleaning up the code, documentation, and writing the test cases, I should be able to request a pull.

I've added the following classes...

luma.core.interface.serial:
  parallel(p

[2020-08-07 16:13] rm-hull commented on #19
Actually, that sounds fantastic. My first question was going to be about doing something like the sevenseg interface, but you already pre-empted that!

[2020-08-07 16:32] dhrone commented on #19
Ok, I'll try to get it finished then!

[2020-08-08 19:38] thijstriemstra commented on #19
Holy shit, I hope you will! Don't hesitate to open a pull request early so we can provide feedback and/or contribute.

[2020-08-11 22:56] dhrone commented on #19
I've got a module placement question for you.  The code I'm working on supports the HD44780 compatible devices (LCD) as well as the Winstar ws0010 devices (OLED) which are largely HD44780 compatible but have enough differences to make them their own class but also leverage a couple of shared classes.

So the question is, does it make sense from a LUMA perspective for the Winstars to be part of the

[2020-08-11 23:00] thijstriemstra commented on #19
Yes, +1

If there is any danger of creating dependencies between sub-projects: put it in luma.core.

[2020-08-12 07:25] rm-hull commented on #19
If you look at https://luma-oled.readthedocs.io/en/latest/api-documentation.html you can see this hierarchy diagram:
![image](https://user-images.githubusercontent.com/1915543/89985934-aec95000-dc73-11ea-8258-3304a3e04b47.png)

Perhaps like @thijstriemstra says, put the base class in luma.core, maybe called something like `luma.core.device.character_device` ?

And then in luma.oled, `luma.oled.dev

[2020-08-12 09:39] thijstriemstra commented on #19
Yea what a douchebag.

[2020-08-13 21:09] dhrone commented on #19
Ok, I'll restructure accordingly.

[2020-08-14 14:04] dhrone commented on #19
TLDR; Can I add pypi:cbor as a dependency to lcd.core?

One of the classes that my two drivers use is an embedded_font class.  Right now it is VERY specific to the two drivers so I am looking to generalize it a bit since it will be living in core now.  It requires that I store the binary font data for the displays which I am placing in const.py.  I am currently using the PIL font format which is l

[2020-08-14 18:18] thijstriemstra commented on #19
The last release for cbor was in 2016 and there are quite some issues: https://bitbucket.org/bodhisnarkva/cbor/issues?status=new&status=open so it seems unmaintained to me. I'm +0 on this..

[2020-08-14 18:55] dhrone commented on #19
Check out cbor2

[2020-08-14 20:28] thijstriemstra commented on #19
cbor2 looks much better, even has a C extension and the maintainer is someone I worked with before.

[2020-08-28 18:59] dhrone opened #112 "Need assistance with Unicode to font table mappings for the hd44780 class"
The new hd44780 driver contains embedded fonts.  The data for these fonts are contained within the hd44780 class in luma.lcd.device.const.py in a dict called FONTDATA.  One key in FONTDATA is 'mappings' which is a list of two dicts (one for each of the two fonts that are typical for hd44780 style devices).  Each dict contains a collection of key value pairs which provide unicode values for as many

[2020-09-04 21:21] jackjameshoward opened #115 "ST7735 inverted colors"
I'm following on from issue  #79 which has now been merged.

I bought a similar LCD display from [pimoroni](https://shop.pimoroni.com/products/0-96-spi-colour-lcd-160x80-breakout )
Works great, however, if I run `python3 examples/colors.py -f conf/st7735.conf` the colours are inverted.
For 'red' I get yellow, 'green' turns magenta, etc.
Same goes for any example, not just color.py.

And I have no

[2020-09-04 22:25] rm-hull commented on #115
The `--bgr` flag will swap the red and blue primary colors - some devices are mapped differently.

However if you are seeing yellow instead of red, and magenta instead of green this suggests that the color palette on your device is not wide enough to cater for 262k colors (see https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py#L304)

Looking at the recommended/supported driver from

[2020-09-07 13:10] jackjameshoward commented on #115
I found what I needed.
https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py#L373  Display inversion needs to be on 0x21.
I looked into the difference 16bit (5-6-5) vs 18bit (6-6-6) and it looks like you can select either mode during the [init ](https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py#L374), pimoroni have their color mode set to 0x05 (5-6-5) whereas luma is

[2020-09-09 08:52] jackjameshoward commented on #115
It looks like the issue I'm having has been solved before here #105, it just hasn't made it to master yet.

[2020-09-09 11:17] thijstriemstra commented on #115
Let's keep the ticket open till it's fixed in master.

[2020-09-12 18:13] dhrone commented on #90
Luma.core v1.16.1 has support for the pcf8574.  However, you still need a display driver that supports the specific display you are attempting to use.  There is an hd44780 driver that is close to release in the luma.lcd project that does work with the luma.core.interface.serial.pcf8574 class.

Which device do you want to attach the pcf8574 to?

[2020-09-13 17:46] satiromarra commented on #90
I don't remember but I have 2 lcd displays, LCD2004 and LCD1602, both uses the hd44780 driver.

[2020-09-13 19:40] thijstriemstra commented on #90
I also have an I2C PCF8574 and these displays available to test this.

[2020-09-14 01:28] dhrone commented on #90
The luma.lcd.device.hd44780 class in the current PR for luma.lcd does support the hd44780 using the luma.core.interface.serial.PCF8574 class.  So it should work for both your LCD2004 and LCD1602.  I have a 2004 display running the code as I am typing this.

[2020-09-14 08:28] satiromarra commented on #90
I don't see the class luma.lcd.driver.hd44780, where is it?
I have tried a year ago and I have not gotten it to work for me.

[2020-09-14 12:01] dhrone commented on #90
It hasn't been approved yet but if you want to try it out, it is in luma.lcd branch hd44780.

[2020-09-14 13:49] satiromarra commented on #90
In this branch: https://github.com/dhrone/luma.lcd/tree/hd44780
Any example?

[2020-09-14 14:56] dhrone commented on #90
Make sure you have luma.core v1.16.1 loaded.  pcf8574 is lowercase.

Example:

[code]

You also need to make sure that you have the wiring between the pcf8574 and the hd44780 set correctly.  I just noticed that the pcf8574 class documentation markup mangled the description of how you deal with different wiring between the pcf8574 and the HD44780.  Here's a cleaner version...

[2020-09-14 15:42] satiromarra commented on #90
Yeah! works fine, but when I run the script again receive this error:
luma/lcd/device.py:76: RuntimeWarning: This channel is already in use, continuing anyway.  Use GPIO.setwarnings(False) to disable warnings.
  self._gpio.setup(self._pin, self._gpio.OUT)

[2020-09-14 22:03] dhrone commented on #90
That warning happens when the RPi.GPIO module is not cleaned up at the end of the program.   There was a small bug my code that allocated one of the GPIO pins even when the PCF8574 was going to be responsible for the backlight.  I believe I've eliminated it but it would be great if you could pull the latest and give it another run or three to see if the warning goes away.

[2020-09-15 15:01] satiromarra commented on #90
Works fine! good job!!
The backlight stays on after the script ends, I need add the line: `device.backlight(False)` at end of script.

[2020-09-15 20:26] dhrone commented on #90
You need to add that but will also need to send some command or data to the display.  So..

[code]

The reason for this has to do with how the PCF8574 works.  Each pin from the pcf8574 is attached to the display and the driver controls the display by sending values that cause the appropriate pins to be low or high.  When you call `backlight(False)' you are changing the value for that pin that will

[2020-09-20 14:27] rm-hull commented on #82
This will be fixed by implementing a delay when resetting the interface in luma.core (PR to follow)

[2020-09-20 16:07] thijstriemstra commented on #115
@jackjameshoward can you test with master?

[2020-09-21 09:24] jackjameshoward commented on #115
I think i've done something incorrectly. I cloned the repo and ran the setup.py. Now it looks as though it's doesn't find any lcd modules.
[code]
The contents of my conf file is

[code]

I did check to see if the module is recognised by pip3

[code]

and I also tried to manually import it

[code]

I figured there was a problem with PIL so I tried

[code]

@thijstriemstra  do you have any suggestio

[2020-09-21 11:34] dhrone commented on #115
It does look like something is messed up with your pillow installation.

Could you look at the contents of  /usr/lib/python3/dist-packages/PIL/__init__.py?

The bottom of that file should contain...

[code]

which is the class that is attempting to be imported when the error occurs.

[2020-09-21 11:38] thijstriemstra commented on #115
@dhrone he's using an really old version of Pillow:

[code]

We need to bump the minimum Pillow version to one that has `UnidentifiedImageError`.

[2020-09-21 11:38] thijstriemstra commented on #115
We now require >= 4.0 (of top of my head) so that 5.4.1 is accepted, but it shouldn't.

[2020-09-21 11:39] thijstriemstra commented on #115
@jackjameshoward try `sudo -H pip3 install -U Pillow`

[2020-09-21 12:10] dhrone commented on #115
Yes.  Unfortunately, it is what buster is vending when you install python-pil.   I had pointed people toward python-pil in the documentation I just updated.  We may want to revert that.

I wonder why they are distributing such an old version.

[2020-09-21 12:21] thijstriemstra commented on #115
It pulls in all additional pillow dependencies though, which is useful. If we just make sure luma.core always updates Pillow it should be fine.

[2020-09-21 12:30] dhrone commented on #115
It looks like the `UnidentifiedImageError` class was added in major release 7.   We can make the change to setup.py for ``luma.core`` to enforce `pillow>=7.0.0`.  I could also revise `luma.core.bitmap_font` to support versions using the older code.  The only difference appears to be that `IOError` is used instead of `UnidentifiedImageError`.

[2020-09-21 12:41] thijstriemstra commented on #115
What do you say @rm-hull?

[2020-09-21 13:32] jackjameshoward commented on #115
Yes, updating Pillow worked. And the --inverse flag works now too.

[2020-09-21 13:51] jackjameshoward commented on #115
If it any use I can push my config file to new branch?
It is for the  [pimoroni ](https://shop.pimoroni.com/products/0-96-spi-colour-lcd-160x80-breakout) product and it is wired as specfied in the product description.
Or for future referece I made  a new file `st7735_pim.conf`
[code]

[2020-09-24 16:46] thijstriemstra opened #118 "HD44780 with I2C backpack"
I want to test out a HD44780 16 x 2 with an I2C backpack (e.g https://www.ebay.com/itm/PCF8574-I2C-Backpacks-for-HD44780-Compatible-LCD-Module-Ardiuno-Raspberry/281810234335). Looking at the docs, the I2C backpack is mentioned but none of the examples show how to use this: https://luma-lcd.readthedocs.io/en/latest/HD44780.html

Can you help @dhrone?

[2020-09-24 16:51] thijstriemstra commented on #118
Oh I see, the wiring part is here: https://luma-lcd.readthedocs.io/en/latest/hardware.html#hd44780-w-pcf8574

But no example of using it using code. https://luma-lcd.readthedocs.io/en/latest/HD44780.html could use a very visible link to the wiring page.

[2020-09-24 17:13] dhrone commented on #118
Unless you are interested in soldering as part of the exercise, I'd recommend buying displays with the PCF8574 already connected.  [Amazon Link](https://www.amazon.com/NOYITO-Backlight-Interface-Arduino-MEGA2560/dp/B07SYPPTWN/)

I took a quick look at the documentation for this display and it looks like it is wired to the defaults I've used for the pcf8574 class.  If that is true, then the followi

[2020-09-24 17:29] thijstriemstra commented on #118
Not really but if it keeps the price to a minimum, no problem.

I already soldered this one:

![IMG_1496](https://user-images.githubusercontent.com/305679/94178953-16da9b00-fe9c-11ea-9dfa-79ff9aca81f0.JPG)

![IMG_1497](https://user-images.githubusercontent.com/305679/94178957-180bc800-fe9c-11ea-96d5-6a9df558e616.JPG)

How would I control the backlight?

[2020-09-24 18:15] thijstriemstra commented on #19
This is fixed now.

[2020-09-24 18:15] #19 closed

[2020-09-24 18:21] dhrone commented on #118
The standard wiring has the backlight connected to PCF8574 pin D3 which is the default in the PCF8574 class.  If your wiring connected it to a different pin, you'll need to provide that during initialization.

`interface = pcf8574(address=n, BACKLIGHT=m)`
where n is the I2C address (default 0x27) and m is the data line on the backpack that the backlight is connected to (default 3).

[2020-09-24 18:22] thijstriemstra commented on #118
Ah there's also a lot of info in #90. Will close this and add comments to that ticket if something's not working.

[2020-09-24 18:22] #118 closed

[2020-09-24 18:27] thijstriemstra commented on #115
You can add it to the luma.examples repository, in the conf directory. Closing this, it'll be in the next luma.lcd release.

[2020-09-24 18:27] #115 closed

[2020-09-24 19:31] thijstriemstra commented on #90
What code are you using @satiromarra? I have the same i2c backpack and 16x2 display and no text is showing up. Using:

[code]

Also:

[code]

[2020-09-24 19:49] thijstriemstra commented on #90
The backlight pin works though;

[code]

disables the backlight at startup.

[2020-09-24 19:52] thijstriemstra commented on #90
Oh ffs, I had to add a `time.sleep` at the end of the program. I expected the display to retain the content that was written to it after the pyhon script exited but alas, no. Final test script:

[code]

Awesome!

[2020-09-24 19:57] thijstriemstra commented on #90
@dhrone can you take a look at documenting the i2c backpack usage in the docs?

[2020-09-24 19:58] thijstriemstra commented on #90
Does this imply other displays can be connected to this "backpack"? Didn't know that.. Which ones?

[2020-09-24 20:05] thijstriemstra commented on #118
Ended up with:

[code]

[2020-09-24 20:47] satiromarra commented on #90
@thijstriemstra I used 2 displays in the same PCF8574, 20x4 and 16x2; my i2c address is 0x3F
When the script finishes the lcd screen is empty.
I hope helped you.

the code:
[code]

[2020-09-24 20:50] thijstriemstra commented on #90
thanks @satiromarra. You should upgrade luma.core (`sudo -H pip3 install -U luma.core`) and adjust this import:

[code]

and remove the `parallel` import.

[2020-09-24 20:58] satiromarra commented on #90
luma.core updated: `Successfully installed luma.core-1.16.2`
I tried again and works fine (and removed `parallel` import).

[2020-09-24 20:59] thijstriemstra commented on #90
Closing ticket since it's fixed on master, available in next release.

[2020-09-24 20:59] #90 closed

[2020-09-25 23:03] rm-hull commented on #115
sorry for non-reply, ... i get so many notifications from github that they often get classified as spam and end up in the junk folder.

@jackjameshoward I'll add your conf file to the examples repo

[2020-10-03 04:08] mattblovell opened #120 "Stray pixels when using diff_to_previous with ILI9341"
Raspberry PI 3, Model B v1.2

Linux raspberrypi 5.4.51-v7+ #1333 SMP Mon Aug 10 16:45:19 BST 2020 armv71 GNU/Linux

I have a new 320x240 ILI9341 SPI LCD display.  If I invoke the welcome.py demo with the options

`--interface spi -d ili9341 --width 320 --height 240 --framebuffer full_frame`

it operates as one would expect (albeit a bit slowly, varying with --spi-bus-speed).

If I leave off the --

[2020-10-03 17:48] rm-hull commented on #120
I haven’t observed that with any other device that does diff-to-previous, so makes me wonder if the calculation here https://github.com/rm-hull/luma.lcd/pull/94/files#diff-09cfe7a0be1f525d8b47f131de856bd2R485 is the culprit, ... but unlikely as it is the same as the st7735 device.

I wonder if adding some bounding box margin with this method https://github.com/rm-hull/luma.core/blob/master/luma/co

[2020-10-03 18:49] ric2b commented on #120
Sorry, I don't currently have access to these screens, it will take me some time to test this.

My use case was focused on static images so I was using the full frame option, it's entirely possible that I missed some problems with partial updates.

[2020-10-03 19:06] mattblovell commented on #120
I'm still in full-on experiment mode here, and I have the display still connected to the RPi.  I can try out any diff / patch anyone would like to suggest.

[2020-10-03 21:55] rm-hull commented on #120
@mattblovell:
1. curious to know if you are running the demo's with either or both of `--v_offset` or `-h_offset` ?
2. If you could checkout the latest commit on master in the **luma.lcd** repo, and in the ili9341 class, in the display class at line 611, alter it as follows:

[code]
3. Reinstall from source with `sudo -H pip3 install -e .` from the **luma.lcd** directory.
4. Rerun the welcome demo

[2020-10-04 00:07] mattblovell commented on #120
@rm-hull:

No.  I briefly gave those options a try, but they seemed to make matters worse.

The slight bounding box change unfortunately did not help matters.  Here's a new photo:

![IMG-0659_sm](https://user-images.githubusercontent.com/65989756/95003792-45ddc480-05a0-11eb-8638-ef92e589f970.jpg)

... and a photo of just the white band, discussed below.

![IMG-0664_sm](https://user-images.githubus

[2020-10-04 09:34] rm-hull commented on #120
I was always a bit reluctant to support higher resolution devices because they would always be slow with an interpreted language. The diff to previous framebuffer was introduced to allow for partial screen redraws to get a speed bump. There is a new PR in progress (see https://github.com/rm-hull/luma.core/pull/194) which may alleviate needing this, but that is some way off at the moment.

Your obs

[2020-10-04 14:18] mattblovell commented on #120
@rm-hull :

I'm really glad luma added support for the ili9341, though.  It's been quite fun to experiment with.  (Photo of the front panel display I'm working on below.)

The board is a Raspberry Pi 3 Model B v1.2.  The power supply I have for it claims to provide output of 2.4 A at 5.25 V.

I don't typically have much plugged into the RPi, but I can try unplugging the USB flash drive and USB mou

[2020-10-04 15:48] mattblovell commented on #120
That seems to help clean up the display wonderfully!  Welcome.py still hangs, but the display is handled appropriately.  The bounce demo is getting 10.6 to 11.1 fps when invoked with the following command line:

[code]

Without the reset timing options, bounce.py left tons of pixel trails, similar to what welcome.py does.  (For reference, invoking bounce with the full_frame option drops the displa

[2020-10-04 18:29] mattblovell commented on #120
The bounce.py demo has run for hours now without issue.

I almost wonder whether there is some font that balks at being rendered for the 320x240 display.  Running welcome.py in Windows, via `--display pygame`, it too stops!

[2020-10-04 19:30] thijstriemstra commented on #120
Ah that's a very useful test. Does the pygame emulator display exactly the same (issues)?

[2020-10-04 19:54] mattblovell commented on #120
It's never had the pixel artifacts / trails that the physical panel had (now resolved with the reset timing).  The halting seems similar, though.

I'd been using the pygame emulator for my own development and just thought of trying out welcome.py in it this morning.

[2020-10-05 19:35] mattblovell commented on #120
Off topic from this bug report, I know, but I hope you'll permit it to stay...

I don't know if it's the "official" route of getting luma.core onto non-RPi boards or not, but I was able to install the RPi.GPIO-Odroid package from

https://github.com/awesometic/RPi.GPIO-Odroid

and get luma.oled alive.  This route was successful for an Odroid C4 under both Ubuntu 20.04 and under CoreELEC (one has t

[2020-10-05 20:14] thijstriemstra commented on #120
Any suggestions for a better tagline? :)

[2020-10-05 20:41] mattblovell commented on #120
No, for that part does seem accurate!

Being relatively new to trying out this whole GPIO aspect of the SBCs, I found the plethora of alternatives just for the RPi a cause of confusion.  The following seem roughly equivalent:
- RPi.GPIO
- WiringPi (deprecated in late 2019 by a frustrated author)
- WiringPi2
- gpiozero

Separate from the above are efforts like Adafruit_Blinka (and, from what I can

[2020-10-05 23:49] mattblovell commented on #120
Back to the original topic of this issue, adding non-zero reset hold and release times appears to resolve the problems.  I don't know if any code change is needed, other than perhaps changing the defaults for ili9341 (or suggesting non-zero reset times).

[2020-10-06 20:10] rm-hull commented on #120
I wrote https://github.com/rm-hull/OPi.GPIO for orange pi sbc’s some time ago and used that with luma.* to drive displays successfully. Others have also had success with chip and odroid sbcs, but you’re right I think, there are platform divergencies that make it painful, although I think opi.gpio came close to unifying it on different platforms. I haven’t really kept up to date with what the lates

[2020-10-06 20:16] rm-hull commented on #120
Maybe welcome.py is a bit buggy.. I think it will try and pick some random offscreen area to scroll in from, then another to scroll out to. On smaller screens it probably works ok, but for a bigger screen maybe it’s not getting past this while loop https://github.com/rm-hull/luma.examples/blob/master/examples/welcome.py#L210

[2020-10-08 07:06] rm-hull commented on #120
Related: https://github.com/rm-hull/luma.examples/issues/100

[2020-10-08 07:08] rm-hull commented on #106
You can’t with this library, you would have to use the kernel fbtft adafruit18 driver instead

[2020-10-08 07:08] #106 closed

[2020-10-16 23:17] thijstriemstra opened #122 "test_ili9341 hangs"
Output of `tox -r -e py38`

[code]

[2020-10-16 23:25] thijstriemstra commented on #122
We should use `pytest-timeout` to ensure there's a reasonable timeout, or it might hang for hours, with e.g. `pytest --timeout=3`.

[2020-10-17 07:16] rm-hull commented on #122
Does it consistently timeout for you?
What platform?

[2020-10-17 13:26] thijstriemstra commented on #122
Yes.

Ubuntu 20. But also on Travis @rm-hull: https://travis-ci.org/github/rm-hull/luma.lcd/jobs/736192575#L798

[2020-10-18 21:42] #122 closed

[2020-10-22 23:45] mattblovell opened #126 "Error trying PWMBacklight"
#### Type of Raspberry Pi

Raspberry Pi 3 Model B v1.2

#### Linux Kernel version

Linux raspberrypi 5.4.51-v7+ #1333 SMP Mon Aug 10 16:45:19 BST 2020 armv7l GNU/Linux

#### Other versions

luma.core 1.17.1
luma.lcd 2.5.0
python 3.7.3

#### Expected behaviour

I am attempting to enable use of PWM to control backlight brightness for my script (see [mattblovell/kodi_panel](https://github.com/mattblo

[2020-10-23 13:48] rm-hull commented on #126
What version of Luma.LCD are you using? the line numbers in the stack trace you supplied dont seem to line up with latest on master

[2020-10-23 13:52] thijstriemstra commented on #126
he mentioned 2.5.0 @rm-hull

[2020-10-23 16:29] rm-hull commented on #126
well ... the line numbers dont line up with whats in 2.5.0, so something is off somewhere.
That class has full test coverage with these tests: https://github.com/rm-hull/luma.lcd/blob/master/tests/test_backlight.py#L118-L161

@mattblovell are you saying the PWM backlight appears to work on Odroid, but _not_ on RPi ?

[2020-10-23 16:41] mattblovell commented on #126
Yes.  Both SBCs have the same luma.core and luma.led versions installed via pip (1.17.1, 2.5.0 respectively).  My same `kodi_panel.py` script is the same on both as well.

On the Odroid C4, I can switch `USE_PWM` back and forth between True and False without issue, picking between the two ili9341() constructors I pointed out.  I was attempting the same experiment on RPi (primarily to see how "bad"

[2020-10-23 17:20] mattblovell commented on #126
I can try the RPi experiment again later this afternoon, with a fresh install of luma.* modules.

[2020-10-23 23:21] mattblovell opened #127 "Help with speed difference between SBCs"
To be clear, this is **not** any actual problem with luma.lcd.  I'm filing it as a means of asking for help in how to debug a speed difference I've observed between two SBCs.  Pointers or suggestions would be appreciated, after which this issue can just be closed.

Note that one of the marketing points for the C4 is improved SPI frequency.

Also recall, from one of my earlier filings, that RPi SPI

[2020-10-24 00:05] mattblovell commented on #126
I started with `pip3 install --force-reinstall luma.lcd`, which concluded with the following results:

[code]

I then tried setting `USE_PWM` to True in my script and invoking it.  Line numbers indeed changed compared to the earlier results.  No error from GPIO appeared, but the overall results are the same:

[code]

The backlight is using GPIO18, physical Pin 12.

Repeating the attempt a second t

[2020-10-24 00:43] mattblovell commented on #127
The Odroid wiki has an application note covering the C4 (as well as other boards):

https://wiki.odroid.com/odroid-c4/application_note/gpio/spi

Trying the tiny spidev utility program from that page, with a jumper cable installed from MOSI to MISO, I _cannot_ get it to fail, even with ludicrous frequencies!

My suspicion is that the iotctl() call for SPI_IOC_WR_MAX_SPEED_HZ can just fail silently.

[2020-10-24 08:48] rm-hull commented on #127
Hi @mattblovell
First off, https://github.com/rm-hull/luma.core/pull/194 may be mildly relevant (take a look at the latest comment)

Secondly, the SPI bus speed power of 2 thing (https://github.com/rm-hull/luma.core/blob/master/luma/core/interface/serial.py#L297 ) probably hasn’t kept up to date with reality, so if you have experimented with higher speeds and other numbers that seem to work, pleas

[2020-10-24 13:53] mattblovell commented on #127
Hi @rm-hull,

You raise an excellent point regarding benchmarking.  I'll have to see if there's something I can get running on both SBCs.  There are benchmark comparisons against the RPi4 for CPU, GPU, and DRAM on Hardkernel's [C4 page](https://www.hardkernel.com/shop/odroid-c4/) (scroll down just a bit), but it would be nice to confirm them.

Even armed with that information, though, SPI performa

[2020-10-24 18:13] rm-hull commented on #127
If it’s a one liner change [here](https://github.com/rm-hull/luma.core/blob/master/luma/core/interface/serial.py#L297) (or elsewhere for that matter) then just let me know and I will push it out in the next release.

[2020-10-24 18:50] thijstriemstra commented on #127
@mattblovell I noticed you're using an old version of Pillow. Pillow 8 was released recently and it seems to produce much better results, but I wonder if performance also improved?

[2020-10-24 23:00] mattblovell commented on #127
@rm-hull, the change to serial.py is indeed quite a small one:

[code]

All of those (well, the higher ones, I didn't try going extremely slow) worked with the ILI9341 display I have.  I tested 60 MHz as well, and it did work!  Of course, bounce.py performance does _not_ keep increasing with increasing SPI frequency (maxing out in the 18.5 to 20 FPS range).

@thijstriemstra, I'll see about upgradi

[2020-10-24 23:05] thijstriemstra commented on #127
On a clean install you'll get Pillow 8 since a week now, I'd recommend upgrading so issues cannot be blamed on older versions of Pillow since we switched our tests to it as well.

[2020-10-24 23:09] mattblovell commented on #127
I just checked.  I think the forced re-install of luma.lcd and related modules yesterday picked up pillow 8.0.1.

All of the luma.example demos are still happy.  (The "object has not attribute '_pwm'" error still occurs.)

[2020-10-25 19:52] rm-hull commented on #120
I think this issue can be closed .. we resolved the issue of the trailing pixels, and commit https://github.com/rm-hull/luma.examples/commit/da48c2e4dc00aa99e5f97791f5e5a09c13077805 should have fixed the `welcome.py` hang

[2020-10-25 19:52] #120 closed

[2020-10-25 19:53] rm-hull commented on #107
@starmood can you share the program code that causes this please?

[2020-10-25 20:19] mattblovell commented on #120
Giving commit `da48c2e` a try on the RPi3 with the 2.8" display.  Running nicely for over 10 minutes thus far, much longer than previously.

[2020-10-26 19:59] mattblovell commented on #127
On the Odroid C4 user forum, scope captures were presented that definitely show the C4's SPI clock capable of hitting 100 MHz (though clearly degraded somewhat at that frequency).  So, the lower `bounce.py` performance on the C4 (compared to the RPi3) must reside elsewhere (e.g., limited SPI transfer size, PIO communication model, etc.)

They had the suggestion of trying Hardkernel's latest Ubuntu

[2020-10-26 20:11] rm-hull commented on #127
FYI I’m bubbling up a new PR which promises some big performance improvements .. see https://github.com/rm-hull/luma.lcd/pull/129. I am seeing somewhere around 90FPS on the bounce demo on ILI9341 with the new version on RPi4

[2020-10-26 20:15] mattblovell commented on #127
That's impressive!

[2020-10-30 16:41] mattblovell commented on #127
@rm-hull , you may be interested in this Odroid C4 forum post:

https://forum.odroid.com/viewtopic.php?p=309888#p309888

[2020-10-30 16:54] rm-hull commented on #127
That's fantastic. Reading that whole thread, they investigated and patched the kernel in a few days ... good effort!

[2020-10-31 08:06] starmood commented on #107
Hi rm-bull,

@rm-hull

Below is the test code,
You should see not all the edge of rectangle show.
Then you can change h_offset to 1 to check the weird transforming.
==============================================================
from luma.lcd.device import ili9341
import RPi.GPIO as GPIO
from luma.core.interface.serial import spi
from PIL import Image
from PIL import ImageDraw
from PIL import Image

[2020-10-31 08:56] rm-hull commented on #107
The device width is 320 pixels and height is 240 pixels.

If you want to draw a border box, it should be (0, 0, 319, 239) ie use`oled_width - 1` and `oled_height - 1` When you are drawing the rectangle

[2020-10-31 09:01] starmood commented on #107
But I did not have same issue with other LCD screen, only 9341. And if I use Adafruit module, also not such issue.
As such, some complicated drawing result became strange with same code.
And when set h_offset, it also does not show as expected.

[2020-11-01 15:44] mattblovell commented on #127
I think this issue can be closed out, between Hardkernel's changes for the Odroid C4 and in anticipation of @rm-hull's in-progress performance update in #129.

[2020-11-01 15:44] #127 closed

[2020-11-01 15:55] mattblovell opened #131 "ili9341 and PWM support?"
As seems to be a habit of mine, this isn't actually a problem with luma.lcd, it's another question...

Per Version 1.11 of the ILI9341 datasheet attached below, that controller appears to have its own LEDPWM output pin.  Of the several Backlight Control Registers, Backlight Control 7 provides the PWM_DIV[7:0] value to use.  Further details appear in Section 8.3.14 (pdf page 176)

At present I have

[2020-11-01 17:41] mattblovell commented on #131
From what I can tell, the particular display module I have _is_ not using the ILI9341's backlight control in any fashion.  About the only command I could issue that had any noticeable effect was:

    device.command(0x21)  # Display Inversion

and that wasn't of much particular use! :)

Seems somewhat of a shame, since the ILI9341 appears to offer adjustable brightness settings, as well as control

[2020-11-03 01:14] mattblovell commented on #127
Here's the device driver change for Odroid:

https://github.com/hardkernel/linux/commit/98774b14800f028b86288b18262227af623559b7

[2020-11-12 22:21] #131 closed

[2020-11-14 20:23] mattblovell opened #133 "Thoughts on Bridgetek EVE (Embedded Video Engine)"
Have you encountered displays using the Bridgetek EVE[234] controllers?

https://github.com/RudolphRiedel/FT800-FT813  (C driver, MIT License)
https://www.ftdichip.com/EVE.htm

Would these be difficult to incorporate into luma.lcd, for, say, a new Python programmer -- asking for a friend :)  There's a 4.3" IPS display from Newhaven Display that looks like it could be a nice upgrade from the TN pan

[2020-11-15 10:02] rm-hull commented on #133
Short answer is no, I hadn’t seen these display controllers before. I had always resisted supporting higher resolution devices because of the slow frame rates that a python implementation would yield.

However, since the advent of the latest `diff_to_previous()` changes, this may not be such a huge issue, but it would still mean that we would need to write and test any new driver code.

An alterna

[2020-11-15 14:46] mattblovell commented on #133
Ah, I had not realized that functionality existed as part of luma.core.  For display through ``/dev/fb*`` I was thinking one had to switch to something like [Pytorinox](https://github.com/robertmuth/Pytorinox)'s ``framebuffer.py``.  Good to learn something new!

I'll need to review the documentation for those EVE controllers further.  They seem quite a bit different than other controllers.  The ma

[2020-11-19 02:22] mattblovell commented on #133
Version 1.2 of Bridgetek's _FT81X Series Programmer's Guide_ can be found here:

https://brtchip.com/wp-content/uploads/Support/Documentation/Programming_Guides/ICs/EVE/FT81X_Series_Programmer_Guide.pdf

Perhaps I'm missing it, but I don't think the EVE controllers offer a pixel-based framebuffer for external use.  Most of the programming guide is devoted to the high-level commands one can issue (

[2020-11-21 19:54] rm-hull commented on #133
Well, if it supports sending bitmaps, then we can make it work - after all that is all that the `device.display(image)` method does. The image parameter is a Pillow image type, but of course it can be serialized into a JPEG or PNG byte stream and sent to the device

[2020-11-23 03:50] mattblovell commented on #133
https://brtchip.com/bt81x/

may be a nicer starting point.  There are links from that page to lots of demos, and the BT81x datasheet, as well the the Programmer's Guide.

RAM_G appears to be a 1 MiB space that is the device's general purpose graphics RAM (main memory).  SPI commands can write directly there.  In addition, there are several coprocessor commands that seem geared to assisting with im

[2020-11-23 23:14] mattblovell commented on #133
I went ahead and ordered the Newhaven display I mentioned at the start of this thread.

It should hopefully be fun to play with.  More fun, anyway, than wrestling with DRM/KMS applications to share a GPU to drive an HDMI display!  :)

[2020-11-26 00:39] mattblovell commented on #133
Scratch that.  Upon reading through the programming guide in more detail, I'm afraid it's not well-suite to my application.  There are indeed two ways of getting a bitmap onto the FT813 -- either transfer the data directly into RAM_G or use one of the co-processor commands (CMD_INFLATE, CMD_LOADIMAGE) to handle decompression and the jpg or PNG format on your behalf.  However, all of the RGB pixel

[2020-11-26 00:39] #133 closed

[2020-11-26 20:49] rm-hull commented on #133
I did actually send off a request for an evaluation kit, but got a generic brush-off:

[2020-11-27 16:53] mattblovell commented on #133
Well, it worth a shot! :)

Hunting around further for anything ellse "interesting" that's SPI-connected, there is this product. built around an RA8876 and intended for use as an Arduino shield:

http://www.techtoys.com.hk/BoardsKits/HDMIshield/HDMIshield.htm

The [RA8876](https://www.raio.com.tw/en/index.html) looks to have full 24-bit color depth, depending upon how much SRAM one is willing to th

[2020-11-27 19:38] mattblovell commented on #133
@rm-hull  -- bump just for last update.  Since I posted to an already closed issue, I thought no notification might get sent.  I thought you'd appreciate the content, though.

[2020-11-27 22:40] rm-hull commented on #133
Cheers @mattblovell ... good to know

a lot of my GitHub notifications (inc yours) seem to just go straight to the spam folder even though I’ve may times told gmail that they aren’t spam

-sigh-

[2020-12-03 23:14] mattblovell opened #135 "Support for ili9486"
#### Type of Raspberry Pi
RPi 4 Model B

#### Linux Kernel version
Linux raspberrypi 5.10.0-rc4-v7l+ #1372 SMP Tue Nov 17 14:26:25 GMT 2020 armv7l GNU/Linux

#### Description

This is not an issue with luma.lcd.  It is instead a request for help in adding ili9486 support.

The display is alive, and luma.lcd can turn it on and off.  Those commands and the column, row commands have not changed from

[2020-12-03 23:39] rm-hull commented on #135
Yes this looks familiar and is quite common when tweaking the correct init sequences. Your best bet is to get hold of the datasheet for the device. You're on the right track with the rotation, but there will be another init setting that dictates the way the display memory is laid out (I vaguely recall it is often called something like Remap, MUX or COM mode). There will almost certainly be a secti

[2020-12-04 04:07] mattblovell commented on #135
So far.  I've only been using the full_frame update technique.  The display on and display off commands do work.  The rest of the infrastructure, with suitable updates in `luma/lcd/driver.py` is perfectly happy to give a display type of `ili9486` a try.

Hmm... this comment, in the "blazing fast" C-based driver juj/fbcp-ili9341 is potentially interesting:

https://github.com/juj/fbcp-ili9341/blob/

[2020-12-04 16:28] mattblovell commented on #135
`// On ILI9486 the display bus commands and data are 16 bits rather than the usual 8 bits that most other controllers have.`

Looking at the datasheet for ILI9486 (a version marked preliminary) and comparing it with ILI9341, I'm not sure where the above statement originates.  I haven't found much of a difference, thus far, in the discussing of serial transfers for the two controllers.

[2020-12-04 22:21] mattblovell commented on #135
Instead of doggedly treating the display as 480x320, which is what I was doing yesterday, I decided to try letting it be a 320x480 display.  Look what resulted!

![IMG-0707_sm](https://user-images.githubusercontent.com/65989756/101221191-667bd680-3644-11eb-8fa1-da5d993c7020.jpg)

[2020-12-04 22:54] mattblovell commented on #135
Rotation (on the command line of the luma.examples) works nicely, too.

![IMG-0710_sm](https://user-images.githubusercontent.com/65989756/101223280-ead05880-3648-11eb-9f5f-f4a3b3c76518.jpg)

[2020-12-05 00:46] mattblovell commented on #135
The following changes seem to work for `display()`.  There are two aspects of the changes:

- There's definitely something to the "Waveshare is using a 16-bit shift register" statement.  Note the zeros between the arguments; these appear to be necessary for this display.

- Switching width and height requires a similar transpose to other measurements.

Anywhere, here is the working `display()`, co

[2020-12-06 01:39] mattblovell commented on #135
Here's my application on the (rotated) display.  The update speed is perfectly adequate for this usage.

![IMG-0713_sm](https://user-images.githubusercontent.com/65989756/101269187-2b070800-3729-11eb-9b63-258e8a25d7c2.jpg)

[2020-12-06 20:41] mattblovell commented on #135
`driver.py` modifications submitted as #136

[2020-12-09 03:52] mattblovell commented on #126
Returning to this hiccup...

If I comment out the try...except portion of `PWMBacklight.__init__()` within `luma/lcd/device.py`, the error upon startup switches to this:

[code]

I'll keep playing.  I've also seen hints googling around that RPi.GPIO may, despite its documentation to the contrary, support hardware PWM.  One of the pin functions floating around seems to be `HARD_PWM`.

That could be

[2020-12-09 03:57] mattblovell commented on #126
Adding

`self._gpio.setup(pin, self._gpio.OUT)`

to that `__init__()` function gets things working, but some jitter is evident.

[2020-12-09 04:58] mattblovell commented on #126
I observed similar flickering on the Odroid C4.  (On the Odroid forums, one of the Hardkernel developers is augmenting RPi.GPIO-Odroid to make use of hardware PWM on their N2 and C4 SBCs.  It's still a work in progress, but I'd like to think my gentle poking resulted in something.)

RPi.GPIO uses pthreads for its PWM implementation, which unfortunately isn't particularly rock-solid.

How difficult

[2020-12-09 14:08] mattblovell commented on #126
Having a mechanism to tell the `backlit_device` parent class _not_ to claim the designated `gpio_LIGHT` pin would do.  That would be equivalent to the commenting-out I hacked.  With that approach, all the ugliness could just reside in my application code, rather than in luma.lcd.

I do need to google around and see if there is a nicer approach than the shell commands, but they seem to work.

[2020-12-10 19:39] mattblovell commented on #126
- [scottellis/pwmpy](https://github.com/scottellis/pwmpy) (license unclear) and
- [jdimpson/syspwm](https://github.com/jdimpson/syspwm) (GPL-3.0)

are both variations on a theme.  They use `os` file operations rather than shell commands, so I guess they're a bit more elegant. :)

@rm-hull, any thoughts on being able to (effectively) turn off the `backlit_device` parent and leave it to the applicat

[2020-12-10 20:35] rm-hull commented on #126
Makes sense, but might be worth having a chat with @dhrone and @kevinastone as the best way to proceed here (must admit I am not especially familiar with this part of the codebase), but I would have a slight preference for bringing in some form of _/sys/class/pwm/pwmchip<chip>/pwm<channel>_ capability into `PWMBacklight` instead the current gpio implementation, and then we wouldn't have to contemp

[2020-12-10 21:52] mattblovell commented on #126
So far, I've only seen two methods for taking advantage of hardware PWM on `GPIO18` / `PWM0`:

- through `/sys/class/pwm` sysfs (after ensuring it exists, e.g. after loading `pwm-2chan` or a similar overlay on an RPi) or
- through a C library, such as PiGPIO (which does offer [python bindings](http://abyz.me.uk/rpi/pigpio/python.html)).

Discussions of RPi.GPIO's software-based PWM flickering:
- R

[2020-12-11 07:33] kevinastone commented on #126
I mentioned that the lack of hardware PWM in the GPiO library greatly impacts the usefulness of the PWM support in #95.  Here's my workaround using `gpiozero` (which uses `pigpio` for hardware PWM if installed).

[code]

[2020-12-12 19:06] mattblovell commented on #126
The display I'm most interested in using right at the moment is an HDMI panel.  Since luma's `linux_framebuffer` device doesn't make use of the backlight parent class, there's no "conflict" to really avoid fortunately.

I think one making use of one of the modules listed above will likely fit my needs.

Do we want to go down the path of modifying luma.lcd to make use of something other than RPi.GP

[2020-12-12 19:19] thijstriemstra commented on #126
Sounds good to me. But probably means luma.core has to support it as well.

[2020-12-12 20:40] #135 closed

[2020-12-12 21:16] mattblovell commented on #126
Some questions toward that goal...

- I take it that luma/lcd/device.py's `backlight_device` class is typically getting gpio via the `@rpi_gpio` decorator?  I'm new-ish to Python and still getting used to what patterns exist and preferred mechanisms.  If multiple classes exist with which to drive `gpio_LIGHT`, would we leave that decorator as-is or change it to something else?

- Currently, the `p

[2020-12-13 22:00] kevinastone commented on #126
Not sure I follow what you mean by "multiple PWM mechanisms".  The `PWMBacklight` class can be improved to leverage different PWM interfaces (e.g. `sysfs`, drivers like `gpiozero` or the current software fallback).

[2020-12-13 22:19] mattblovell commented on #126
Yes, that's actually what I meant @kevinastone.  If multiple such interfaces / mechanisms are available, what's the best way to allow application code to select the mechanism to use?

[2020-12-13 23:05] thijstriemstra commented on #126
Are you still using this? I think it's def worth trying later 3.7.x, or of course 3.8 and 3.9, versions of python.

[2020-12-14 00:30] mattblovell commented on #126
Yes.  I think its the default for python3 on the Buster release of Raspberry Pi OS.  At least it's a 3.x. :)

My original motivation for development was for an application running under CoreELEC on an Odroid C4.  For lots of reasons, it's still on a 4.9.x Linux kernel; I believe I have Entware to thank for even getting python3 on that particular installation.

[2020-12-15 18:29] kevinastone commented on #126
@mattblovell Do applications need to specify their preferred mechanism?  I would have expected there's a natural priority and fallback progression. (e.g. `pigpio` then `sysfs` then `RPi.GPIO` as such)

[2020-12-16 02:11] mattblovell commented on #126
If the preference order is that clear, and the process of determining what's actually available is also reasonable quick and reliable (e..g., no odd error messages given back to the user, doesn't take a long time to "test" if `pigpiod` is available), then that would certainly work.

Should it exit testing, the changes that are in-progress for RPi.GPIO-Odroid add a small wrinkle.  On the Odroid N2

[2021-01-09 17:41] jason-a69 opened #139 "Trying to get this to work with Spotpear LCD"
This is my lcd
http://www.spotpear.com/index.php/index/study/detail/id/77.html

#### Type of Raspberry Pi
Raspberry Pi 3A

#### Linux Kernel version
Linux raspberrypi 5.4.79-v7+ #1373 SMP Mon Nov 23 13:22:33 GMT 2020 armv7l GNU/Linux

#### Expected behaviour
I expect a 3d box

#### Actual behaviour
Trying to get the display to work with the correct driver
If I try and run 3d_box.py I get the follo

[2021-01-10 01:56] CRImier commented on #139
first quick note - your LCD is not I2C, is SPI, so you need to let the driver know how to correctly reach your display - through the correct SPI port, using the right SPI settings and right GPIO pins. You should be able to get all of these parameters from the example code they're providing.

[2021-01-10 09:09] jason-a69 commented on #139
Unfortunately, there is only one c program that you can download (to create fbcp) and I did not find it very helpful.

I did some digging around in /sys with
`find /sys/bus | grep spi`

and got this back

/sys/bus/platform/devices/3f204000.spi
/sys/bus/platform/drivers/spi-bcm2835
/sys/bus/platform/drivers/spi-bcm2835/bind
/sys/bus/platform/drivers/spi-bcm2835/unbind
/sys/bus/platform/drivers/spi-

[2021-01-10 14:39] CRImier commented on #139
There's still some information in the linked repo, specifically, [the script that you're advised to use](https://github.com/waveshare/LCD-show/blob/master/LCD32-show). The script uses the waveshare32b overlay from their repository, which is compiled. It's scummy from their side not to publish sources for the overlay, however, overlays are easy to decompile into a state where you can see the pins u

[2021-01-10 14:40] CRImier commented on #139
For a start, the RST pin should be 25 and DC pin should be 24.

[2021-01-10 14:48] CRImier commented on #139
![image](https://user-images.githubusercontent.com/3173633/104125995-ce6bbe00-5362-11eb-89f8-2a15565d5dc2.png)
lol, Spotpear seems to be a shitty company when it comes to open-sourcing even the most primitive stuff, not to mention even schematics. Would not be surprised if there's no original work put from their side, their products seem to be similar to Waveshare products, at least they're reusin

[2021-01-10 17:36] jason-a69 commented on #139
Thanks for all of this, much appreciated.

You should see Spotpear's attempt at scripts, no formatting whatsoever, no subtle stuff like injecting parameters into configuration files. Oh no, just overwrite the files instead. My favourite is overwriting /boot/config.txt.

Anyway, I am still trying to get a successful test working, I am running this
`python3 3d_box.py -i spi  --gpio-reset 25 --gpio-d

[2021-01-10 17:40] CRImier commented on #139
do you have the overlay loaded? make sure it's not loaded.

This warning is likely expected and normal - the display should work nevertheless. What actually happens instead? You're not describing the result you're getting.

[2021-01-10 17:42] CRImier commented on #139
hmm, sorry, I'm on the go. What does `--spi-device` mean? I'd imagine the display is connected to SPI0.0 and touch is connected to SPI0.1 - that's been my experience with the display I have, but it might not be the case with whatever breakout you're trying out. Or is it something other than SPI port/SPI CS number?

[2021-01-10 17:46] CRImier commented on #139
also, it's no wonder `test_ili9486.py` returns nothing - it actually isn't written to operate on a real display, it's just a luma test file that helps luma developers check whether the code is still working.

[2021-01-10 18:06] jason-a69 commented on #139
OK. I have removed `dtoverlay=waveshare32b:rotate=270` from `/boot/config.txt`

The following devices are created
[code]
I have rerun with
`python3 3d_box.py -i spi  --gpio-reset 25 --gpio-data-command 24 -d ili9486`

I get
`3d_box.py: error: Unsupported display mode: 128 x 64`

So I am getting closer!

[2021-01-10 18:51] CRImier commented on #139
seems like you need to give it height and width parameters =)

[2021-01-10 18:57] jason-a69 commented on #139
I tried
`--width 320 --height 240`

Got
`3d_box.py: error: Unsupported display mode: 320 x 240`

All I have is a white screen....it must be something simple

[2021-01-10 19:30] CRImier commented on #139
searching "ili9486" in this repo on github brought me to [this page](https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py), which says that only 480x320 displays are supported at the moment. Are you sure your display is 320x240?

[2021-01-10 19:54] jason-a69 commented on #139
Unfortunately it is 320 x 240

[2021-01-10 22:31] jason-a69 commented on #139
If I make a change in that code to take out that check (in `device.py`) do I have to recompile it?

[2021-01-10 23:18] CRImier commented on #139
Good thinking! Answering your question directly - no, but you'll have to make sure that your changes actually get used by your scripts, i.e. git-clone-ing this code locally, making your changes then using something like `python setup.py develop` to install the locally-modified library - or just edit the library files in the place they're currently stored after you install using pip.

Answering the

[2021-01-11 00:10] jason-a69 commented on #139
I figured out how to remove luma.lcd and make changes to a locally cloned copy (in /home/pi) and install that.

Just sharing here if anyone is curious
First part solution : `sudo pip3 uninstall luma.lcd`
Second part solution : `sudo pip3 install -e /home/pi/luma.lcd`

I just want to remove the check to see if anything is displayed, I am still looking at a white screen even though this command now

[2021-01-11 00:29] jason-a69 commented on #139
Finally got it running

`python3 luma.examples/examples/3d_box.py --interface spi --gpio-reset 25 --gpio-data-command 24 -d linux_framebuffer --width 320 --height 240 --framebuffer-device /dev/fb1`

No code changes required, just pass the correct parameters!

[2021-01-11 11:16] #139 closed

[2021-01-11 11:45] CRImier commented on #139
happy to hear that! It's not even clear to me that you need the SPI and GPIO parameters, I'd bet they're just unused, try removing them and my hunch is that it will work just as well.

[2021-01-11 11:52] jason-a69 commented on #139
Just to confirm, this worked

`python3 3d_box.py --display linux_framebuffer --width 320 --height 240 --framebuffer-device /dev/fb1`

[2021-03-14 13:31] #104 closed

[2021-04-29 14:25] SimUKdev opened #142 "ST7789 - maximum height and width?"
#### Type of Raspberry Pi

Raspberry Pi 3 A+

#### Linux Kernel version

`Linux pi3aplus-5 5.10.17-v7+ #1403 SMP Mon Feb 22 11:29:51 GMT 2021 armv7l GNU/Linux`

#### Expected behaviour

Expecting the display to show full screen across all 240x320 pixels on the ST7789 2.0 inch display

#### Actual behaviour

![st7789_240x320_lumalcd_partialscreensize](https://user-images.githubusercontent.com/52102

[2021-05-02 12:26] SimUKdev commented on #142
Interesting... I appear to have made some progress with this:

![st7789_240x320_lumalcd_fullscreen_02may2021](https://user-images.githubusercontent.com/52102399/116812850-c9688f80-ab48-11eb-9db0-1203cf8c5f3c.JPG)

I changed two lines of code in https://github.com/rm-hull/luma.lcd/blob/master/luma/lcd/device.py#L301-L303

[code]

to become:

[code]

And it allows my 240x320 ST7789 display to show f

[2021-05-02 15:00] SimUKdev commented on #142
Checked with an Open-Smart 240x240 ST7789 and that is still working correctly with the above code changes.

I've seen there are also `240x135` sized ST7789 displays available, such as:

- https://www.adafruit.com/product/4383
- https://www.aliexpress.com/item/4000533324854.html

I don't currently have any `240x135` resolution displays to test with though.

[2021-05-02 21:36] rm-hull commented on #142
@matemaciek are you able to help here .. could we change the implementation to not have hard coded width and height please?

[2021-05-02 22:43] matemaciek commented on #142
I'm definitely for this change, I was polishing already existing pull request and those hard coded dimensions were itching me, but I didn't have different displays to test other sizes. The more generic code is, the better (-:

@SimUKdev your changes make total sense. As for changes in `display()`, can you try setting `w` to `320`? Maybe the dimensions are swapped there. I also like the version fro

[2021-05-02 22:49] matemaciek commented on #142
I've ordered 135x240 `st7789` display, so I will be able to check on it sooner or later also.

[2021-05-02 23:22] SimUKdev commented on #142
@matemaciek

Just tried both `320, 240` and `240, 320` on `w, h = 240, 240` line, and only get a blank black screen when using `320` for either w or h.

Interestingly, if I put 120 for both values, the screen still outputs at what appears to be the same 240x320 (or 320x240) resolution. And just out of curiosity I tried `0, 0` as the numbers being defined there, and that _still_ outputs full screen

[2021-07-14 08:03] TheBlackSheep opened #143 "Multiple TFT Screens (ST7735)"
Hopefully posting in the right place...

Running on Raspberry Pi 2B+ running latest RaspOS lite

I have two ST7735's (they are both AZDelivery red boards and I think these are ST7735S) connected via SPI - I've tried various combinations of wiring - currently the first device is as per the recommended wiring , the second is on CE1 (GPIO7) for the CS line and I have separate DC (GPIO 20) and RST (GP

[2021-07-14 10:31] thijstriemstra commented on #143
Add a `time.sleep(10)` at the end of the script?

[2021-07-14 18:09] TheBlackSheep commented on #143
Great that works! - hadn't expected the library to "cleanup" the screen(s) on exit.

Thanks

Chris

[2021-07-14 18:10] #143 closed

[2021-09-24 17:58] avjui commented on #107
Same issues here. After debug a while i found a fix. It seems it need some time after configuration. Same line also insert in the Adafruit library

Please can you add a sleep to this lines
https://github.com/rm-hull/luma.lcd/blob/9a58dab76c7fcc97089a2b9df88d6e09ac639b72/luma/lcd/device.py#L670-L674
[code]
Thanks

[2021-09-24 18:13] avjui opened #145 "Standard 'gpio_LIGHT' pin causes crash of I2S"
#### Type of Raspberry Pi
RPI3

#### Linux Kernel version
Linux livingfoxi 5.4.83-v7+ #1379 SMP Mon Dec 14 13:08:57 GMT 2020 armv7l GNU/Linux

#### Expected behaviour
I2S breaks on initial of LCD device when no gpio_LIGHT is set

#### Actual behaviour
I run in this issues and it took me a while to find the problem. When you initial a display with backlight support and you not set 'gpio_LIGHT' pin

[2021-09-25 09:29] thijstriemstra commented on #107
thanks @avjui, can you make a pull request with that change?

[2021-09-27 09:10] avjui commented on #107
Done!

[2021-09-28 14:42] TCB13 opened #147 "Support ILI9488 3.5" (320x480) displays"
Hello,

Are there any plans to support for 3.5" (320x480) displays with the ILI9488 chip? Or anyone already did it?

Examples of devices:

- http://www.lcdwiki.com/3.5inch_SPI_Module_ILI9488_SKU:MSP3520
- https://pt.aliexpress.com/item/32985467436.html?algo_exp_id=d2a973dd-545d-4a92-8b61-e427dcc58f4c-1&pdp_ext_f=%7B%22sku_id%22%3A%2266802769934%22%7D

Thank you.

[2021-09-28 14:44] thijstriemstra commented on #145
Thanks for the report.

Can you add it to https://github.com/rm-hull/luma.lcd/blob/master/doc/hardware.rst? You can use github (click edit btn on that page) to update the documentation (and create a pull request).

[2021-09-29 07:24] rm-hull commented on #147
No plans to write a driver for it, but if there is a Linux framebuffer driver for this device, you could use https://luma-core.readthedocs.io/en/latest/device.html#luma.core.device.linux_framebuffer instead

[2021-09-29 08:54] TCB13 commented on #147
Interesting, so I can get a `PIL.ImageDraw` out of the core device and use it to draw stuff in the same way I do with supported screens?

Side question, this library seems to support ILI9341 and there's also fb_ili9341 for it. Why is supported natively by the library and the other is via framebuffer? Or it all comes down to nobody with the skills to implement it on the library needs it?

Thank you

[2021-09-29 10:17] rm-hull commented on #147
Yes, exactly

The original ILI9341 driver was quite slow - pushing out a lot of pixels in python on a RPi was "challenging". We made some improvements to the diff to previous framebuffer, so it only drew changes since last time - this immensely improves FPS.

The framebuffer luma driver is universal (and was implemented after the ili9341 IIRC), and obviously there exists a number of different fb k

[2021-09-29 12:12] TCB13 commented on #147
Thank your for the patience and detailed answer. It makes perfect sense now. I'm going to try the framebuffer driver route and see how it goes.

[2021-09-29 12:12] #147 closed

[2021-11-14 19:15] thijstriemstra commented on #107
Fixed with #146 but not released yet. Could you help there @rm-hull?

[2021-11-14 19:15] #107 closed

[2021-11-22 23:51] thijstriemstra commented on #112
@dhrone could you maybe provide a test script that scans through all the chars? how can we help?

[2021-11-23 00:48] thijstriemstra commented on #66
Closing.

[2021-11-23 00:48] #66 closed

[2021-11-23 00:49] thijstriemstra commented on #78
@duchenpaul got it to work?

[2021-11-23 00:49] #20 closed

[2021-11-23 00:50] thijstriemstra commented on #142
so, is this a bug?

[2021-11-23 00:50] #89 closed

[2021-11-23 03:12] duchenpaul commented on #78
Yes, I will close it.

[2021-11-23 03:12] #78 closed

[2021-11-26 18:45] Kyuchumimo opened #153 "The function device.backlight(False) turns on the lights, instead of device.backlight(True)"
#### Type of Raspberry Pi
Raspberry Pi Zero W V1.1

#### Linux Kernel version
Linux raspberrypi 5.10.63+ #1459 Wed Oct 6 16:40:27 BST 2021 armv6l GNU/Linux

#### Expected behaviour
Hardware: Nokia 5510
[code]
[code]
I was waiting for GPIO.input(18) to return 1 and the lights would turn on

#### Actual behaviour
GPIO.input(18) returns 0 and the lights do not turn on, but when changing the device.ba

[2021-11-26 22:05] thijstriemstra commented on #153
same happening with hd44780.

[2021-11-27 22:45] Kyuchumimo commented on #153
Using active_low=False as a parameter for the device object, makes the device.backlight(True) function turn the lights on and GPIO.input(18) returns 1. By default active_low parameter is always in boolean condition as True as long as it is not provided by the programmer.

[code]

active low in electronics means a pin plugged to ground , and an active high a pin plugged to 5V or 3.3V.

From what I

[2021-11-27 23:00] thijstriemstra commented on #153
Not sure what you want me to confirm, but my hd44780 is connected to gpio pin 22, causing the backlight to be enabled all the time unless I call `device.backlight(True)`.

[2021-11-27 23:19] Kyuchumimo commented on #153
@thijstriemstra
This is not how the backlight function works, backlight(True) should turn on the LED, not turn it off

see: https://luma-lcd.readthedocs.io/en/latest/python-usage.html#backlight-control
_The backlight can be programmatically switched on and off by calling device.backlight(True) or device.backlight(False) respectively._

[2021-11-27 23:32] thijstriemstra commented on #153
backlight(True) disables the backlight, which is incorrect imo, sorry if I wasn't clear. I would expect it the other way around like the docs state.

[2021-11-27 23:46] Kyuchumimo commented on #153
@thijstriemstra Wait, this is not a bug, it is expected. Haven't you read what I said?. The only thing I think is that active_low should be False by default by the luma.lcd library, since the backlight pin, which is almost always a positive pin leading to an LED must be active high for it to turn on

[2022-03-26 08:42] fvzeppelin commented on #112
Not sure if this belongs here:
If I try to replace German Umlauts as described in the docs:
[code]
Then the displayed result is surely not as expected. E.g. the Ä has a double horizontal bar in the middle and an additional horizontal bar at the bottom.

[2022-04-24 10:23] Frederic98 commented on #142
I had the same issue with my display (from waveshare). After looking through the code and [ST7789 datasheet](https://www.waveshare.com/w/upload/a/ae/ST7789_Datasheet.pdf), it turns out that the arguments to commands should be sent as data bytes, but the library sends it as command bytes. This causes the display to receive a SWRESET command (software reset), because a resolution of 320px is encoded

[2022-10-03 22:22] thijstriemstra opened #157 "DeprecationWarning: getsize is deprecated and will be removed in Pillow 10 (2023-07-01)"
[code]

[2022-10-16 00:03] #157 closed